@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: spacing.$spacing-16;
  margin-top: spacing.$spacing-20;

  @include bp.breakpoint-down("sm") {
    grid-template-columns: repeat(4, 1fr);
  }

  @include bp.breakpoint-down("xs") {
    grid-template-columns: repeat(2, 1fr);
    margin-top: spacing.$spacing-16;
  }
}

.emptyWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
