@import "@/styles/globals.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.kebabButton {
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 30px;
  right: 8px;
  background-color: $gray0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  list-style: none;
  min-width: 124px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
}

.menuItem {
  width: 100%;
  padding: 12px 16px;
  cursor: pointer;
  color: $gray80;
  @include Sub4;
  transition: background 0.2s;
  border-bottom: 1px solid var(--Color-Gray-150, #eeeeef);

  &:hover {
    background-color: $gray10;
  }

  &:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.menu:has(.menuItem:first-child:last-child) {
  .menuItem {
    border-radius: 12px;
  }
}

.deleteItem {
  @extend .menuItem;
  color: $negative;
}
