@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0px;
  margin-top: 5px;
  padding: 6px 0;
  background-color: $color-surface-base;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  list-style: none;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;

  &:has(.menuItem:first-child:last-child) {
    padding: 0;

    .menuItem {
      border-radius: 12px;
      padding: 16px;
    }
  }
}

.mobileMenu {
  @extend .menu;
  top: 100%;
  right: 0;
}

.topMenu {
  @extend .menu;
  top: auto;
  bottom: 50px;
  right: 0;
  left: auto;
}

.isSideMenu {
  @extend .menu;
  top: 40px;
  right: 0;
  left: auto;
}

.menuItem {
  width: 100%;
  padding: 10px 16px;
  cursor: pointer;
  color: $color-surface-inverse;
  @include Sub4;
  transition: background 0.2s;

  @include Drag;

  &:hover {
    background-color: $color-surface-gray-subtlest;
  }
}

.menu:has(.menuItem:first-child:last-child) {
  .menuItem {
    border-radius: 12px;
  }
}

.deleteItem {
  @extend .menuItem;
  color: $color-status-negative;
}
