@import "@/styles/globals.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .center {
    width: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .feedContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        display: flex;
        gap: 6px;
        @include Sub2;
        color: $gray70;

        .feedCount {
          color: $gray50;
        }
      }

      .sortWrapper {
        position: relative;

        .sortButton {
          display: flex;
          align-items: center;
          gap: 4px;
          @include Sub4;
          color: $gray70;
          cursor: pointer;
        }

        .icon {
          display: flex;
          align-items: center;
        }

        .iconRotated {
          transform: rotate(180deg);
          transition: transform 0.2s ease;
        }

        // .dropdown {
        //   position: absolute;
        //   margin-top: 10px;
        //   top: 100%;
        //   right: 0;
        //   display: inline-flex;
        //   flex-direction: column;
        //   justify-content: center;
        //   align-items: flex-start;
        //   border-radius: 12px;
        //   border: 1px solid $gray15;
        //   background-color: $gray0;
        //   box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
        //   z-index: 5;
        // }

        // .dropdownItem {
        //   display: flex;
        //   width: 124px;
        //   align-items: center;
        //   padding: 12px 16px;
        //   background-color: $white;
        //   border-bottom: 1px solid $gray15;
        //   @include H5MD;
        //   color: $gray90;
        //   cursor: pointer;

        //   &:hover {
        //     background: #f5f5f5;
        //   }

        //   &.active {
        //     @extend .dropdownItem;
        //     background: $gray10;
        //     font-weight: 500;
        //   }

        //   &:first-child {
        //     border-top-left-radius: 12px;
        //     border-top-right-radius: 12px;
        //   }

        //   &:last-child {
        //     border-bottom: none;
        //     border-bottom-left-radius: 12px;
        //     border-bottom-right-radius: 12px;
        //   }
        // }
      }
    }

    .cardContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 40px;
      column-gap: 20px;
    }
  }
}

.bar {
  width: 100%;
  height: 1px;
  background: $gray30;
}
