@import "@/styles/globals.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .center {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .sortWrapper {
        position: relative;

        .sortButton {
          display: flex;
          align-items: center;
          gap: 4px;
          @include Sub4;
          color: $gray70;
          cursor: pointer;
        }

        .icon {
          display: flex;
          align-items: center;
        }

        .iconRotated {
          transform: rotate(180deg);
          transition: transform 0.2s ease;
        }
      }
    }

    .cardContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 40px;
      column-gap: 16px;

      @include Size("mobile") {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 12px;
      }

      @include Size("tablet") {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 16px;
      }
    }
  }
}
.bar {
  position: relative;
  width: 100%;
  height: 1px;
  background: $gray30;
  display: flex;
  margin-top: 80px;
  margin-bottom: 12px;
  @include Drag;

  .indicator {
    position: absolute;
    bottom: -1px;
    height: 2px;
    background: #000;
    transition: width 0.3s ease, left 0.3s ease;
    z-index: 1;
    padding: 0 12px;
  }

  @include Size("mobile") {
    margin-top: 60px;
    margin-bottom: 0px;
  }
}

.tab {
  position: relative;
  margin-top: -40px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: $gray70;
  @include Sub2;

  .feedCount {
    color: $gray50;
  }

  @include Size("mobile") {
    @include Sub4;
    padding: 0 12px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

  .message {
    @include Sub2;
    color: $gray50;
    @include Drag;
  }
}

.postContainer {
  padding-top: 32px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include Size("mobile") {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.pagination {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    @include Label2;
    color: $gray70;

    &:hover {
      background-color: $gray10;
    }
  }

  .paginationArrow {
    padding: 6px;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $gray10;
    }

    &:disabled {
      display: none;
    }
  }

  .active {
    background-color: $gray20;
  }
}
