@use "@/styles/globals.scss" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  @include Drag;

  button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-surface-base;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    @include Body1;
    line-height: 0;
    color: $color-text-gray-bold;

    &:hover {
      background-color: $color-surface-gray-subtlest;
    }
  }

  .paginationArrow {
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $color-surface-gray-subtlest;
    }

    &:disabled {
      display: none;
    }
  }

  .active {
    background-color: $color-border-gray-subtler;
  }
}
