@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 314px;

  .messageSection {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    @include Title4;
    color: $color-text-gray-bold;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .subtitle {
    @include Sub4;
    color: $color-text-gray-normal;
    text-align: center;
  }
}
