@use "@/styles/globals.scss" as *;

.results {
  width: 100%;

  .sortWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .title {
    @include Sub2;
    color: $color-text-gray-normal;
    @include Drag;

    .searchCount {
      color: $color-text-gray-bold;
    }

    @include Size("mobile") {
      @include Label2;
    }
  }

  .sort {
    position: relative;
  }
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.noResult {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Sub2;
  color: $color-text-gray-subtle;
  margin-top: 50px;
  @include Drag;
}

.pagination {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @include Drag;

  @include Size("mobile") {
    margin-top: 28px;
    margin-bottom: 80px;
    gap: 4px;
  }

  button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-surface-base;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    @include Label2;
    color: $color-text-gray-bold;

    &:hover {
      background-color: $color-surface-gray-subtlest;
    }
  }

  .paginationArrow {
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $color-surface-gray-subtlest;
    }

    &:disabled {
      display: none;
    }
  }

  .active {
    background-color: $color-border-gray-subtler;
  }
}
