@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 30px;
  max-height: 760px;

  @include Size("mobile") {
    overflow-y: auto;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
      @include Title3;
      color: $color-text-gray-bold;
    }

    .subtitle {
      @include Sub4;
      color: $color-text-gray-normal;
      text-align: center;

      .count {
        color: $color-text-gray-bold;
      }
    }
  }

  .emptyContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .title {
      @include Title4;
      color: $color-text-gray-bold;
    }

    .subtitle {
      @include Sub4;
      color: $color-text-gray-normal;
      text-align: center;
      padding-bottom: 30px;
    }
  }

  .albumsContainer {
    display: flex;
    flex-direction: column;
    max-height: 426px;
    overflow-y: auto;
    width: 100%;
    gap: 10px;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(112, 115, 124, 0.16);
      border-radius: 10px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(57, 58, 61, 0.16);
    }

    @include Size("mobile") {
      height: 100%;
      max-height: 472px;
      gap: 8px;

      &::-webkit-scrollbar {
        width: 0;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }

    .albumItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 12px;
      border: 1px solid $color-border-gray-subtle;
      color: $color-surface-inverse;
      width: 100%;
      height: 52px;
      padding: 16px 20px;
      @include Label3;
      cursor: pointer;
      transition: all 0.3s;

      &.selected {
        border-color: $color-status-positive;
        background-color: $color-surface-primary-subtlest;

        &:hover {
          background-color: $color-surface-primary-subtlest;
        }
      }

      &:hover {
        background-color: $color-surface-gray-subtlest;
      }
    }
  }

  .btns {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;

    .cancleBtn,
    .submitBtn {
      flex: 1;
    }

    @include Size("mobile") {
      @include SafeAreaBottom(56);
    }
  }
}
