@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 30px;
  max-height: 760px;
  min-height: 260px;

  @include Size("mobile") {
    overflow-y: auto;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
      @include Title3;
      color: $gray70;
    }

    .subtitle {
      @include Sub4;
      color: $gray60;
      text-align: center;

      .count {
        color: $gray70;
      }
    }
  }

  .emptyContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .title {
      @include Title4;
      color: $gray70;
    }

    .subtitle {
      @include Sub4;
      color: $gray60;
      text-align: center;
      padding-bottom: 40px;
    }
  }

  .albumsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    max-height: 436px;
    gap: 10px;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(112, 115, 124, 0.16);
      border-radius: 10px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(57, 58, 61, 0.16);
    }

    @include Size("mobile") {
      height: 100%;
      gap: 8px;

      &::-webkit-scrollbar {
        width: 0;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }

    .albumItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 12px;
      border: 1px solid $gray30;
      color: $gray80;
      width: 100%;
      height: 52px;
      padding: 16px 20px;
      @include Label3;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $gray10;
      }

      &.selected {
        border-color: $secandary1;
        background-color: $secandary2;
      }
    }
  }

  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;

    .submitBtn {
      flex: 1;
    }

    @include Size("mobile") {
      @include SafeAreaBottom(56);
    }
  }
}
