@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  max-height: 760px;

  @include Size("mobile") {
    overflow-y: auto;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
      @include Title3;
      color: $gray70;
    }

    .subtitle {
      @include Sub4;
      color: $gray60;
    }
  }

  .textBtnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    overflow-y: hidden;
    max-height: 552px;

    @include Size("mobile") {
      height: 100%;
      gap: 0;
    }
  }

  .addAlbumContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;

    @include Size("mobile") {
      padding-bottom: 30px;
    }

    .titleText {
      @include Sub3;
      width: 100%;
      margin-bottom: 8px;
    }

    .inputArea {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 8px;

      .btn {
        display: flex;
        @include Size("mobile") {
          width: 100px;
        }
      }

      @include Size("mobile") {
        flex-direction: column;
      }

      .inputWrapper {
        position: relative;
        flex: 6;

        &.error {
          .inputField {
            border: 1px solid $negative;
          }
        }

        .errorMessage {
          color: $negative;
          font-size: 12px;
          margin-top: 4px;
          position: absolute;
          left: 4px;
        }

        .countTotal {
          position: absolute;
          right: 20px;
          bottom: 16px;
          display: flex;
          @include Label1;
          color: $gray60;
        }

        .count {
          color: $gray80;
        }

        @include Size("mobile") {
          width: 100%;
        }
      }

      button {
        flex: 1;

        @include Size("mobile") {
          margin-top: 10px;
          width: 100px;
          height: 40px;
        }
      }
    }
  }

  .editAlbumContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    @include Size("mobile") {
      flex: 1;

      &::-webkit-scrollbar {
        width: 0;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }

    .editBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;

      .titleText {
        flex: 1;
        align-items: flex-start;
        @include Sub3;
        margin-bottom: 0;
      }

      .editOrderBtn {
        align-items: flex-end;
        @include Label2;
        color: $gray60;
        cursor: pointer;
      }

      .completeBtn {
        color: $secandary1;
      }
    }

    .emptyText {
      @include Label2;
      color: $gray50;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .albumList {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 360px;
      overflow-y: auto;
      gap: 8px;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(112, 115, 124, 0.16);
        border-radius: 10px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(57, 58, 61, 0.16);
      }

      @include Size("mobile") {
        height: 372px;
        flex: 1;
        padding-bottom: 10px;

        &::-webkit-scrollbar {
          width: 0;
          display: none;
        }

        &::-webkit-scrollbar-thumb {
          display: none;
        }
      }
    }

    .albumsContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      @include Drag;

      .inputWrapper {
        position: relative;
        flex: 1;

        .albumItem {
          width: 100%;
          height: 52px;
          padding: 16px 20px;
          border: 1px solid $gray30;
          border-radius: 12px;
          background-color: $gray0;
          color: $gray80;
          @include Label2;
          gap: 8px;

          &:focus-within {
            border: 1px solid $gray80;
          }

          @include Size("mobile") {
            @include Label3;
            height: 52px;
          }
        }

        .iconInsideInput {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          color: $gray60;
          @include Cap2;
        }

        .actionGroup {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          gap: 24px;
          @include Cap2;

          .cancleBtn {
            cursor: pointer;
            color: $gray70;
          }

          .completeBtn {
            cursor: pointer;
            color: $secandary1;
          }
        }
      }

      .removeAlbumButton {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include Size("mobile") {
          padding: 5px;
        }
      }

      .inlineButtons {
        display: flex;
        gap: 6px;
        margin-left: 8px;

        button {
          height: 36px;
          padding: 0 12px;

          @include Size("mobile") {
            height: 32px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.inputField {
  display: flex;
  border-radius: 12px;
  background-color: $gray10;
  border: 1px solid $gray30;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 52px;
  padding: 16px 20px;
  @include Label2;
  color: $gray80;

  &:focus-within {
    border: 1px solid $secandary1;
    background-color: $gray0;
  }
}
