@use "@/styles/globals.scss" as *;

.comfirmModal {
  background: $color-surface-base;
  padding: 40px 32px 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 358px;
  justify-content: space-between;

  @include Size("mobile") {
    padding: 40px 20px 20px;
  }

  @include Size("tablet") {
    padding: 40px 20px 20px;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .title {
      @include Title3;
      color: $color-text-gray-bold;
      text-align: center;
    }

    .subtitle {
      @include Sub4;
      color: $color-text-gray-normal;
      text-align: center;
    }

    @include Size("mobile") {
      gap: 8px;

      .title {
        @include Title5;
      }
    }
  }

  .btnsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}
