@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 760px;
  gap: 30px;

  .titleContainer {
    .title {
      @include Title3;
      color: $color-text-gray-bold;
    }
  }

  .linksContainer {
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include Size("mobile") {
      overflow-y: auto;
      max-height: fit-content;
    }
  }

  .linkItem {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: pointer;

    &:hover .link {
      text-decoration: underline;
    }
  }

  .icon {
    color: $color-text-gray-subtle;
  }

  .linkInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  .linkLabel {
    @include Sub4;
    color: $color-surface-inverse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link {
    @include Label3;
    color: $color-text-gray-normal;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }
}
