@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 760px;
  gap: 30px;

  .titleContainer {
    .title {
      @include Title3;
      color: $gray70;
    }
  }

  .linksContainer {
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include Size("mobile") {
      overflow-y: auto;
      max-height: fit-content;
    }
  }

  .linkItem {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
  }

  .linkInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    min-width: 0;
  }

  .linkLabel {
    @include Sub4;
    color: $gray80;
  }

  .link {
    @include Label3;
    color: $gray60;
    text-decoration: none;
    word-break: break-all;
    display: flex;
    flex-direction: column;
  }
}
