@use "@/styles/globals" as *;

.replyContainer {
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.replyInfo {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.replyContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}

.replyTargetContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $color-text-gray-normal;
}

.replyTarget {
  @include Cap2;
  color: $color-text-gray-normal;
  font-weight: 600;
}

.replyMessage {
  @include Label2;
  color: $color-text-gray-bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cancelReply {
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  color: $color-text-gray-normal;

  &:hover {
    background-color: $color-border-gray-subtler;
    color: $color-surface-inverse;
  }
}