@import "@/styles/globals.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;

  .infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      overflow: hidden;
      color: $gray80;
      text-overflow: ellipsis;
      @include Sub4;
    }

    .author {
      @include Label1;
      color: $gray60;
      margin-bottom: 8px;
    }

    .bottomContainer {
      display: flex;
      align-items: center;
      gap: 8px;
      @include Drag;
      margin-top: 4px;

      .createdAt {
        @include Label1;
        color: $gray50;
      }

      .countContainer {
        display: flex;
        gap: 6px;
      }

      .likeContainer {
        display: flex;
        align-items: center;
        gap: 2px;
      }

      .count {
        @include MEDIUM;
        font-size: 12px;
        line-height: 12px;
        color: $secandary1;
      }
    }
  }
}
