@use "@/styles/globals.scss" as *;

.container {
  width: 300px;
  flex-shrink: 0;
  border: 1px solid $color-border-gray-subtle;
  border-radius: 12px;

  .imageWrapper {
    width: 100%;
    display: flex;
    @include Drag;
    background-color: rgba(0, 0, 0, 0.02);

    .backgroundLeft {
      object-fit: cover;
      border-radius: 12px 0 0 0;
      overflow: hidden;
      position: relative;
    }

    .backgroundRight {
      @extend .backgroundLeft;
      border-radius: 0 12px 0 0;
    }
  }

  .profileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-surface-base;
    padding: 16px;
    border-radius: 0 0 12px 12px;

    .profileLeft {
      display: flex;
      align-items: center;
      gap: 8px;

      .profileImage {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $color-border-gray-subtle;
        @include Drag;
      }

      .nameContainer {
        display: flex;
        flex-direction: column;

        .name {
          @include Sub4;
          color: $color-text-gray-bold;
        }

        .follower {
          @include Cap2;
          color: $color-text-gray-normal;
          display: flex;
          gap: 4px;
          @include Drag;

          .followerCount {
            color: $color-text-gray-bold;
          }
        }
      }
    }
  }
}
