@use "@/styles/tokens/colors" as colors;

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 480px;
}

.list {
  display: flex;
  flex-direction: column;
}

.withdrawal {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
