@use "@/styles/globals.scss" as *;

.backgroundContainer {
  display: flex;
  flex-direction: column;
}

.title {
  @include Title3;
  color: $color-text-gray-bold;
  margin-bottom: 20px;
}

.cropContainer {
  position: relative;
  overflow: hidden;
  border-radius: 11px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rangeInput {
  width: 90%;
  background: $color-border-gray-subtle;
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  appearance: none;
  accent-color: $color-surface-primary-normal;
}

.zoomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    font-size: 1rem;
  }

  input[type="range"] {
    width: 80%;
  }
}
