@use "@/styles/globals.scss" as *;
@use "sass:color";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  @include Drag;
}

.disabled {
  cursor: default;
}

.filled-primary {
  background-color: $primary4;
  color: $gray0;

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), $primary4;
    color: $gray30;
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), $primary4;
    color: $gray40;
  }
}

.filled-primary.disabled {
  background-color: $gray30;
  color: $gray0;
}

.outlined-primary {
  border: 1px solid $primary4;
  color: $primary4;
  background-color: $gray0;

  &:hover {
    background-color: color.adjust($gray0, $lightness: 4%);
  }

  &:active {
    background-color: color.adjust($gray0, $lightness: 8%);
  }
}

.outlined-primary.disabled {
  border: 1px solid $gray30;
  color: $gray30;
}

.outlined-secondary {
  border: 1px solid $secandary1;
  color: $secandary1;
  background-color: $gray0;

  &:hover {
    background-color: color.adjust($gray0, $lightness: 4%);
  }

  &:active {
    background-color: color.adjust($gray0, $lightness: 8%);
  }
}

.outlined-secondary.disabled {
  border: 1px solid $gray30;
  color: $gray30;
}

.outlined-assistive {
  border: 1px solid $gray30;
  color: $gray70;
  background-color: $gray0;

  &:hover {
    background-color: color.adjust($gray0, $lightness: 4%);
    border-color: $gray50;
  }

  &:active {
    background-color: color.adjust($gray0, $lightness: 8%);
  }

  &.disabled {
    border-color: $gray30;
    color: $gray30;
  }
}

.outlined-assistive.disabled {
  border: 1px solid $gray30;
  color: $gray30;
}

.text-primary {
  color: $gray70;
  background-color: $gray0;

  &.disabled {
    color: $gray30;
  }
}

.text-assistive {
  color: $primary4;
  background-color: $gray0;

  @include Size("mobile") {
    padding: 16px 0 !important;
    font-size: 14px !important;
    line-height: 19.6px !important;
    font-weight: 600 !important;
  }

  @include Size("tablet") {
    padding: 16px 0 !important;
    font-size: 14px !important;
    line-height: 19.6px !important;
    font-weight: 600 !important;
  }
}

.text-assistive-category.l {
  color: $gray70;
  background-color: $gray0;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 22.4px !important;
  padding: 10px 16px !important;

  @include Size("mobile") {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 19.6px !important;
    padding: 8px 6px !important;
  }
}

.text-assistive .disabled {
  color: $gray30;
}

.l {
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  @include Btn1;
}

.m {
  padding: 11px 20px;
  border-radius: 10px;
  @include Btn2;
  line-height: 18px;
}

.s {
  padding: 7px 14px;
  border-radius: 8px;
  @include Btn3;
  line-height: 18px;
}

.icon {
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: inherit;
}
