@use "@/styles/globals.scss" as *;
@use "sass:color";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  @include Drag;

  &:disabled {
    cursor: default;
  }
}

.filled-primary {
  border: 1px solid $color-surface-primary-normal;
  background-color: $color-surface-primary-normal;
  color: $color-text-white;

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), $color-surface-primary-normal;
    color: $color-text-gray-subtler;
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), $color-surface-primary-normal;
    color: $color-surface-gray-subtle;
  }

  &:disabled {
    border-color: $color-border-gray-subtle;
    background-color: $color-border-gray-subtle;
    color: $color-text-white;
  }
}

.outlined-primary {
  border: 1px solid $color-border-primary-normal;
  color: $color-text-primary-normal;
  background-color: $color-bg-primary;

  &:hover {
    background-color: color.adjust($color-bg-primary, $lightness: 4%);
  }

  &:active {
    background-color: color.adjust($color-bg-primary, $lightness: 8%);
  }
}

.outlined-primary.disabled {
  border: 1px solid $color-border-gray-subtle;
  color: $color-text-gray-subtler;
}

.outlined-secondary {
  border: 1px solid $color-status-positive;
  color: $color-status-positive;
  background-color: $color-bg-primary;

  &:hover {
    background-color: color.adjust($color-bg-primary, $lightness: 4%);
  }

  &:active {
    background-color: color.adjust($color-bg-primary, $lightness: 8%);
  }
}

.outlined-secondary.disabled {
  border: 1px solid $color-border-gray-subtle;
  color: $color-text-gray-subtler;
}

.outlined-assistive {
  border: 1px solid $color-border-gray-subtle;
  color: $color-text-gray-bold;
  background-color: $color-bg-primary;

  &:hover {
    background-color: color.adjust($color-bg-primary, $lightness: 4%);
    border-color: $color-text-gray-subtle;
  }

  &:active {
    background-color: color.adjust($color-bg-primary, $lightness: 8%);
  }
}

.outlined-assistive.disabled {
  border-color: $color-border-gray-subtle;
  color: $color-text-gray-subtler;
}

.text-primary {
  color: $color-text-gray-bold;
  background-color: $color-bg-primary;

  &.disabled {
    color: $color-text-gray-subtler;
  }
}

.text-assistive {
  color: $color-text-primary-normal;
  background-color: $color-bg-primary;

  @include Size("mobile") {
    padding: 16px 0;
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 600;
  }

  @include Size("tablet") {
    padding: 16px 0;
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 600;
  }
}

.text-assistive-category.l {
  color: $color-text-gray-bold;
  background-color: $color-bg-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  padding: 10px 16px;

  @include Size("mobile") {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    padding: 8px 6px;
  }
}

.text-assistive .disabled {
  color: $color-text-gray-subtler;
}

.l {
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  @include Btn1;
}

.m {
  padding: 11px 20px;
  border-radius: 10px;
  @include Btn2;
  line-height: 18px;
}

.s {
  padding: 7px 14px;
  border-radius: 8px;
  @include Btn3;
  line-height: 18px;
}

.icon {
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: inherit;
}
