@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 80px;

  @include Size("mobile") {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include Size("tablet") {
    padding-left: 16px;
    padding-right: 16px;
  }

  .center {
    max-width: $max-width-container;
    width: calc(100vw - $sidebar-width - 64px);
    margin: 0 auto;

    @include Size("tablet") {
      width: calc(100vw - $sidebar-width-tablet - 32px);
    }

    @include Size("mobile") {
      width: calc(100vw - 32px);
    }
  }

  .contentSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include Size("mobile") {
      gap: 40px;
    }

    @include Size("tablet") {
      gap: 50px;
    }
  }
}
