@use "@/styles/globals.scss" as *;

.inputContainer {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 16px;

  @include Size("mobile") {
    margin-top: 40px;
  }

  .writerImage {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 1px solid $color-border-gray-subtle;
    @include Drag;
  }

  .submitBtn {
    flex-shrink: 0;
  }
}
