@use "@/styles/globals" as *;

$chat-room-height: 60px;
$footer-height: 84px;

.messagesContainer {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: $color-surface-base;

  @include Size("mobile") {
    padding: 10px 16px;
  }

  .loadingContainer {
    display: flex;
    justify-content: center;
    padding: 16px 0;

    .loadingText {
      color: $color-text-gray-normal;
      @include Body2;
    }
  }
}
