@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 20px;
  background-color: $color-surface-gray-subtlest;
  border-radius: 12px;
  border: 1px solid $color-border-gray-subtle;
  @include Label2;

  &:focus-within {
    border: 1px solid $color-border-gray-bold;
    background-color: $color-bg-primary;
  }
}

.inputReplyContainer {
  @extend .inputContainer;
  padding: 8px 20px;
}

.inputContainer.error {
  border: 1px solid $color-status-negative;
}

.labelContainer {
  display: flex;
}

.label {
  @include Sub3;
  align-self: stretch;
  color: $color-text-gray-bold;
}

.textarea {
  width: 100%;
  height: auto;
  max-height: 300px;
  @include Label2;
  color: $color-text-gray-bold;
  border: none;
  outline: none;
  padding: 0;
  background-color: $color-surface-gray-subtlest;
  resize: none;
  overflow: hidden;

  &:focus {
    background-color: $color-bg-primary;
  }
}

.textareaReply {
  @extend .textarea;
  height: auto;
  min-height: 20px;
  max-height: 300px;
}

.countTotal {
  display: flex;
  @include Label1;
  color: $color-text-gray-normal;
}

.count {
  color: $color-text-gray-bold;
}

.error {
  color: $color-status-negative;
  @include Cap2;
}
