@use "@/styles/globals.scss" as *;

.spaceBetween {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.topContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;

  .name {
    @include Title2;
    color: $color-surface-inverse;
    margin-bottom: 2px;

    @include Size("mobile") {
      @include Title4;
    }
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .descriptionContainer {
    display: flex;
    flex-direction: column;
  }

  .description {
    @include Body1;
    color: $color-text-gray-bold;
    margin-top: 12px;
    white-space: pre-line;
  }
}

.follow {
  display: flex;
  align-items: center;
  gap: 12px;
  @include Drag;
}

.follower {
  display: flex;
  gap: 8px;
  @include Sub4;
  color: $color-text-gray-normal;
  @include Drag;

  @include Size("mobile") {
    @include Body1;
  }
}

.myfollower {
  display: flex;
  gap: 8px;
  @include Sub4;
  color: $color-text-gray-normal;
  cursor: pointer;

  @include Size("mobile") {
    @include Body1;
  }
}

.followerColor {
  @include Sub4;
  color: $color-text-gray-bold;

  @include Size("mobile") {
    @include Body1;
  }
}

.linkContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  @include Size("mobile") {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .linkWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    @include Drag;
  }

  .link {
    @include Label2;
    color: $color-text-gray-normal;
    cursor: pointer;
  }

  .moreLinksText {
    @include Label2;
    color: $color-status-positive;
    cursor: pointer;
  }
}
