@use "@/styles/globals.scss" as *;

.types {
  display: flex;
  align-items: center;
  gap: 8px;

  .type {
    border: none;
    background: none;
    @include Sub4;
    color: $color-text-gray-normal;
    padding: 0;
    cursor: pointer;
  }

  .active {
    @extend .type;
    color: $color-status-positive;
  }
}
