@use "@/styles/globals.scss" as *;
@use "sass:color";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  @include Size("mobile") {
    padding-top: 24px;
  }

  @include Size("tablet") {
    padding-top: 24px;
  }

  .center {
    max-width: 980px;
    width: 100%;
  }

  .uploadButton {
    position: fixed;
    bottom: 30px;
    right: 16px;
    background-color: $primary4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    z-index: 1000;
    @include Drag;

    &:hover {
      background-color: color.adjust($primary4, $lightness: 10%);
    }
  }

  .uploadButton.slide {
    bottom: 40px;
  }
}
