@import "@/styles/globals.scss";

.container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include Size("mobile") {
    margin-top: 24px;
  }

  @include Size("tablet") {
    margin-top: 24px;
  }

  .center {
    max-width: 980px;
    width: 100%;
  }

  .bar {
    background: $gray30;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    @include Size("mobile") {
      background: $gray0;
      margin: 30px 0;
    }

    @include Size("tablet") {
      background: $gray0;
      margin: 15px 0;
    }
  }

  .uploadButton {
    position: fixed;
    bottom: 30px;
    right: 16px;
    background-color: $primary4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    z-index: 1000;
    @include Drag;

    &:hover {
      background-color: darken($primary4, 10%);
    }
  }

  .uploadButton.slide {
    bottom: 40px;
  }
}
