@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;

  @include Size("mobile") {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include Size("tablet") {
    padding-left: 16px;
    padding-right: 16px;
  }

  .center {
    max-width: $max-width-content;
    height: 100%;
    margin: 0 auto;
  }

  .emptyContainer {
    width: 100%;
    max-width: $max-width-container;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .messageContainer {
      width: 100%;
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      @include Size("mobile") {
        padding: 60px 0;
      }

      .message {
        @include Title3;
        color: $color-text-gray-bold;

        @include Size("mobile") {
          @include Title4;
        }
      }
      .submessage {
        @include Sub2;
        color: $color-text-gray-subtle;
        word-break: keep-all;

        @include Size("mobile") {
          width: 200px;
          text-align: center;
          text-wrap: wrap;
          @include Sub4;
        }
      }
    }

    .recommendContainer {
      width: 100%;
      display: flex;
      flex-direction: column;

      .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        column-gap: 20px;

        @include Size("mobile") {
          grid-template-columns: repeat(1, 1fr);
          row-gap: 20px;
          column-gap: 0px;
        }

        @include Size("tablet") {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
