@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .cardSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .bar {
    width: 100%;
    height: 1px;
    background-color: $color-border-gray-subtler;
  }

  .noPosts {
    @include Body1;
    color: $color-surface-inverse;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px;
  }
}
