@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .cardSection {
    display: flex;
    flex-direction: column;
  }

  .noPosts {
    @include typo.body-1-r;
    color: colors.$text-gray-normal;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: spacing.$spacing-32 0 spacing.$spacing-20;
  }
}
