@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;

  .title {
    @include Title3;
    color: $color-text-gray-bold;
  }

  .message {
    display: flex;
    align-items: center;
    gap: 4px;
    @include Sub4;
    color: $color-text-gray-bold;
    margin-bottom: 16px;

    .op1 {
      @include Body1;
      color: $color-status-positive;
    }

    .op2 {
      @include Body1;
      color: $color-text-gray-subtle;
    }
  }

  .typeContainer {
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .options {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .radioLabel {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        @include Sub4;
        color: $color-surface-inverse;
      }

      .radioInput {
        display: none;
      }

      .radioImage {
        width: 20px;
        height: 20px;
        background-image: url("/icon/radio-off.svg");
        background-size: cover;
        margin-right: 12px;
      }

      .radioInput:checked + .radioImage {
        background-image: url("/icon/radio-on.svg");
      }
    }
  }

  .textareaContainer {
    width: 100%;
    min-height: 100px;
    border-radius: 12px;
    border: 1px solid $color-border-gray-subtle;
    background: $color-surface-gray-subtlest;
    padding: 12px 16px;

    &:focus-within {
      background-color: $color-surface-base;
    }

    .textarea {
      width: 100%;
      min-height: 95px;
      background: none;
      resize: none;
      border: none;
      outline: none;
      @include Body1;
      color: $color-surface-inverse;

      &::placeholder {
        color: $color-text-gray-subtle;
      }

      &:focus-within {
        background-color: $color-surface-base;
      }
    }
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }
}
