@import "@/styles/globals.scss";

.toast {
  color: $gray70;
  @include Title5;
  background: $gray0;
  display: inline-flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  gap: 16px;

  &.success {
    border: 1px solid $secandary1;
  }

  &.error {
    border: 1px solid $negative;
  }

  &.warning {
    border: 1px solid $cautionary;
  }

  &.information {
    border: 1px solid $primary4;
  }
}
