@use "@/styles/globals.scss" as *;

.toast {
  width: max-content;
  color: $gray70;
  @include Title5;
  background: $gray0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 12px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 2000;

  @include Size("mobile") {
    padding: 12px 18px 12px 12px;
    gap: 12px;
    border-radius: 50px;
    @include Sub4;
  }

  @include Size("tablet") {
    padding: 14px 20px 14px 14px;
    gap: 14px;
    border-radius: 50px;
    @include Sub4;
  }

  &.success {
    border: 1px solid $secandary1;
  }

  &.error {
    border: 1px solid $negative;
  }

  &.warning {
    border: 1px solid $cautionary;
  }

  &.information {
    border: 1px solid $primary4;
  }
}

.global {
  position: fixed;
  top: calc($header-height + 16px);
  left: calc(50% + $sidebar-width / 2);
  transform: translate(-50%);

  @include Size("tablet") {
    left: calc(50% + $sidebar-width-tablet / 2);
  }

  @include Size("mobile") {
    left: 50%;
  }
}

.local {
  position: absolute;
  top: var(--toast-offset, 16px);
  left: 50%;
  transform: translate(-50%);
}
