@use "@/styles/globals.scss" as *;

.icon {
  fill: currentColor;
}

.xs {
  width: 12px;
  height: 12px;
}

.sm {
  width: 14px;
  height: 14px;
}

.md {
  width: 16px;
  height: 16px;
}

.lg {
  width: 18px;
  height: 18px;
}

.xl {
  width: 20px;
  height: 20px;
}

.\32xl {
  width: 24px;
  height: 24px;
}

.\32\.\35xl {
  width: 28px;
  height: 28px;
}

.\33xl {
  width: 32px;
  height: 32px;
}

.\34xl {
  width: 40px;
  height: 40px;
}

.\35xl {
  width: 50px;
  height: 50px;
}

.\36xl {
  width: 60px;
  height: 60px;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.inversion {
  transform: scaleX(-1);
}

.rotate-0.inversion {
  transform: rotate(0deg) scaleX(-1);
}

.rotate-90.inversion {
  transform: rotate(90deg) scaleX(-1);
}

.rotate-180.inversion {
  transform: rotate(180deg) scaleX(-1);
}

.rotate-270.inversion {
  transform: rotate(270deg) scaleX(-1);
}
