@use "@/styles/globals.scss" as *;
@use "sass:color";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;

  @include Size("mobile") {
    padding-bottom: 24px;
  }

  .profileLeft {
    display: flex;
    align-items: center;

    .authorImage {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid $color-border-gray-subtle;
      cursor: pointer;
      @include Drag;

      @include Size("mobile") {
        width: 32px;
        height: 32px;
      }
    }

    .authorInfo {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      margin-right: 24px;

      .authorName {
        @include Sub2;
        color: $color-surface-inverse;
        cursor: pointer;

        @include Size("mobile") {
          @include Sub4;
        }
      }
    }

    .stats {
      display: flex;
      align-items: center;
      height: 20px;
      gap: 8px;
      line-height: 0;
      @include Drag;

      .createdAt {
        @include Label1;
        color: $color-text-gray-subtle;

        @include Size("mobile") {
          @include Cap2;
        }
      }

      .statIcon {
        width: 16px;
        height: 16px;
        object-fit: cover;
      }

      .stat {
        height: 16px;
        display: flex;
        align-items: center;
        gap: 2px;
        color: $color-text-gray-subtle;
        @include Cap2;
        line-height: 12px;
      }
    }
  }

  .dropdownContainer {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    @include Size("mobile") {
      gap: 0;
    }

    .dropdown {
      position: relative;
      width: 24px;
      height: 24px;
      margin: 8px;
      cursor: pointer;
    }
  }
}

.imageGallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.imageWrapper {
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.imageWrapper2 {
  width: 100%;
  margin-top: 30px;
}

.showMore {
  width: 200px;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.gradient {
  width: 100%;
  height: 95px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.cardImage {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1600;
  cursor: pointer;
}

.overlayContent {
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include Size("mobile") {
    row-gap: 16px;
  }

  .title {
    color: $color-surface-inverse;
    @include Title3;

    @include Size("mobile") {
      @include Sub1;
    }
  }

  .content {
    @include Body1;
    color: $color-text-gray-bold;
    white-space: pre-line;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .stats {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 8px;
    line-height: 0;
    @include Drag;

    .createdAt {
      @include Label1;
      color: $color-text-gray-normal;
    }

    .statIcon {
      width: 16px;
      height: 16px;
      object-fit: cover;
    }

    .stat {
      height: 16px;
      display: flex;
      align-items: center;
      gap: 2px;
      color: $color-text-gray-normal;
      @include Cap2;
      line-height: 12px;
    }
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include Size("mobile") {
    gap: 50px;
  }
}

.bar {
  border-top: 1px solid $color-border-gray-subtle;
}

.boardActionBar {
  margin-top: 28px;
  margin-bottom: 60px;

  @include Size("mobile") {
    margin-bottom: 40px;
  }
}
