@import "@/styles/globals.scss";

.container {
  width: 100%;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;

    @include Size("mobile") {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 12px;
      grid-row-gap: 20px;
    }
  }
}
