@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  width: 100%;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: spacing.$spacing-12;
    row-gap: spacing.$spacing-40;

    @include bp.breakpoint-up("sm") {
      grid-template-columns: repeat(4, 1fr);
      column-gap: spacing.$spacing-16;
    }

    @include bp.breakpoint-down("xs") {
      row-gap: spacing.$spacing-16;
    } 
  }

  .cardLink {
    display: block;
    width: 100%;
  }

  .loader {
    width: 100%;
    height: 1px;
  }
}
