@use "@/styles/globals.scss" as *;

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $color-surface-base;
  width: 404px;
  border-radius: 12px;
  padding: 40px 32px;

  .uploadBtn {
    display: flex;
    flex: 1;
  }

  .messageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .texts {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;

      .text {
        color: $color-text-gray-bold;
        @include Title3;
      }

      .subtext {
        color: $color-text-gray-normal;
        @include Sub4;
      }
    }
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .sns {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include Size("mobile") {
      display: flex;
      flex-direction: row;
    }
  }
}
