@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 314px;

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
      @include Title3;
      color: $color-text-gray-bold;
    }

    .subtitle {
      @include Sub4;
      color: $color-text-gray-normal;
    }
  }

  .textBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .checkbox {
    cursor: pointer;
  }

  .label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .text {
    color: $color-text-gray-normal;
    @include Cap1;

    .underline {
      text-decoration: underline;
      color: $color-text-gray-bold;
    }
  }
}
