@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 80px;

  .bar {
    width: 100%;
    height: 1px;
    background: $gray30;
  }

  .FeedSection {
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .BoardSection {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
