@use "@/styles/globals.scss" as *;
@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/tokens/radius" as radius;
@use "@/styles/breakpoint" as bp;

.container {
  min-width: 0;
  flex: 1;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: spacing.$spacing-24 spacing.$spacing-20 spacing.$spacing-72;
  background-color: colors.$surface-base;

  @include bp.breakpoint-down("xs") {
    padding: spacing.$spacing-16 spacing.$spacing-16 spacing.$spacing-40;
  }

  .FeedSection {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacing-56;

    @include bp.breakpoint-down("xs") {
      gap: spacing.$spacing-32;
    }
  }

  .BoardSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: spacing.$spacing-40;

    @include bp.breakpoint-down("sm") {
      gap: spacing.$spacing-16;
    }

    @include bp.breakpoint-down("xs") {
      grid-template-columns: 1fr;
      gap: spacing.$spacing-32;
    }
  }
}

.uploadFab {
  position: fixed;
  right: spacing.$spacing-16;
  bottom: spacing.$spacing-16;
  z-index: 100;
}
