@use "sass:map";

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("/font/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/font/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("/font/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("/font/Pretendard-Bold.woff2") format("woff2");
}

// font family + weight
@mixin REGULAR {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
}

@mixin MEDIUM {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

@mixin SEMIBOLD {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 600;
}

@mixin BOLD {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 700;
}

@mixin LetterSpacing {
  letter-spacing: -0.3px;
}

// Typography
@mixin Display1 {
  @include BOLD;
  @include LetterSpacing;
  font-size: 56px;
  line-height: 78.4px;
}

@mixin Display2 {
  @include BOLD;
  @include LetterSpacing;
  font-size: 40px;
  line-height: 56px;
}

@mixin Title1 {
  @include BOLD;
  @include LetterSpacing;
  font-size: 36px;
  line-height: 50.4px;
}

@mixin Title2 {
  @include BOLD;
  @include LetterSpacing;
  font-size: 28px;
  line-height: 39.2px;
}

@mixin Title3 {
  @include BOLD;
  @include LetterSpacing;
  font-size: 24px;
  line-height: 33.6px;
}

@mixin Title4 {
  @include BOLD;
  @include LetterSpacing;
  font-size: 20px;
  line-height: 28px;
}

@mixin Title5 {
  @include SEMIBOLD;
  @include LetterSpacing;
  font-size: 20px;
  line-height: 28px;
}

@mixin Sub1 {
  @include BOLD;
  @include LetterSpacing;
  font-size: 18px;
  line-height: 25.2px;
}

@mixin Sub2 {
  @include SEMIBOLD;
  @include LetterSpacing;
  font-size: 18px;
  line-height: 25.2px;
}

@mixin Sub3 {
  @include BOLD;
  font-size: 16px;
  line-height: 22.4px;
}

@mixin Sub4 {
  @include SEMIBOLD;
  font-size: 16px;
  line-height: 22.4px;
}

@mixin Body1 {
  @include MEDIUM;
  font-size: 16px;
  line-height: 22.4px;
}

@mixin Body2 {
  @include REGULAR;
  font-size: 16px;
  line-height: 22.4px;
}

@mixin Label1 {
  @include SEMIBOLD;
  font-size: 14px;
  line-height: 19.6px;
}

@mixin Label2 {
  @include MEDIUM;
  font-size: 14px;
  line-height: 19.6px;
}

@mixin Label3 {
  @include REGULAR;
  font-size: 14px;
  line-height: 19.6px;
}

@mixin Cap1 {
  @include SEMIBOLD;
  font-size: 12px;
  line-height: 16.8px;
}

@mixin Cap2 {
  @include MEDIUM;
  font-size: 12px;
  line-height: 16.8px;
}

@mixin Cap3 {
  @include SEMIBOLD;
  font-size: 11px;
  line-height: 15.4px;
}

@mixin Cap4 {
  @include MEDIUM;
  font-size: 11px;
  line-height: 15.4px;
}

@mixin Btn1 {
  @include SEMIBOLD;
  font-size: 16px;
  line-height: 16px;
}

@mixin Btn2 {
  @include SEMIBOLD;
  font-size: 14px;
  line-height: 14px;
}

@mixin Btn3 {
  @include SEMIBOLD;
  font-size: 12px;
  line-height: 12px;
}

// Color
$gray0: #ffffff;
$gray10: #f5f7fa;
$gray20: #f0f0f5;
$gray30: #e1e1e8;
$gray40: #caccd8;
$gray50: #adafbb;
$gray60: #858898;
$gray70: #35363f;
$gray80: #23252b;

$primary1: #ededf9;
$primary2: #8989a6;
$primary3: #404054;
$primary4: #232332;
$primary5: #000000;

$secandary1: #2bc466;
$secandary2: #eafff2;

$red: #f5506c;

$positive: #00bf40;
$cautionary: #ff9200;
$negative: #ff4242;

$max-breakpoints: (
  "mobile": 767px,
  "tablet": 1024px,
);

$min-breakpoints: (
  "mobile": 0px,
  "tablet": 768px,
);

@mixin Size($device) {
  @media (min-width: map.get($min-breakpoints, $device)) and (max-width: map.get($max-breakpoints, $device)) {
    @content;
  }
}

@mixin Drag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin SafeAreaBottom($base-height) {
  height: calc(#{$base-height}px + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
}

.body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
