@use "@/styles/globals.scss" as *;
@use "sass:color";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 80px;

  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 32px;
  padding-right: 32px;

  max-width: 1180px;
  margin: 0 auto;

  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: flex-start;
  }

  @include Size("mobile") {
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 60px 16px;
  }

  @include Size("tablet") {
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .center {
    width: 100%;
    max-width: $max-width-content;

    .bar {
      width: 100%;
      height: 1px;
      background-color: $gray30;
    }

    .header {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 12px;

      .headerLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .chip {
          flex-shrink: 0;
        }

        .title {
          @include Title3;
          color: $gray80;

          @include Size("mobile") {
            @include Sub2;
          }
        }

        .notice {
          display: flex;
          align-items: flex-end;
          gap: 10px;

          .noticeTitle {
            @include Title3;
            color: $secandary1;
          }

          .noticeCreatedAt {
            @include Label1;
            color: $gray50;
            @include Drag;
          }
        }

        .authorCreatedAt {
          display: flex;
          align-items: center;
          gap: 8px;

          .author {
            @include Body1;
            color: $gray60;

            @include Size("mobile") {
              @include Label2;
            }
          }

          .createdAt {
            @include Label1;
            color: $gray50;
            @include Drag;

            @include Size("mobile") {
              @include Label2;
            }
          }
        }
      }

      .dropdownContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        position: relative;
        @include Drag;
      }
    }

    .content {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 24px;
      line-height: 24px;
      color: $gray70;
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 500;
      min-height: 120px;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        padding-bottom: 14px;
      }

      h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        padding-bottom: 14px;
      }

      p {
        padding-bottom: 6px;
      }

      strong {
        font-weight: 700;
      }
    }

    .counts {
      display: flex;
      align-items: center;
      gap: 8px;
      @include Drag;

      .count {
        display: flex;
        gap: 2px;
        align-items: center;
        @include Cap2;
        color: $gray60;
      }
    }

    .btnContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-top: 28px;
      margin-bottom: 40px;

      .likeBtn {
        cursor: pointer;
      }

      .saveBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        @include Drag;
        border: 1px solid $gray30;
        color: $gray70;
        background-color: $gray0;
        padding: 16px 16px;
        border-radius: 12px;
        @include Btn1;

        &:hover {
          background-color: color.adjust($gray0, $lightness: 4%);
        }

        &:active {
          background-color: color.adjust($gray0, $lightness: 8%);
        }
      }

      .dropdown {
        cursor: pointer;
        position: relative;
      }

      .menuBtn {
        @extend .saveBtn;
      }
    }

    .uploadBtn {
      margin-top: 24px;
      margin-bottom: 50px;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      @include Size("tablet") {
        margin-top: 14px;
        margin-bottom: 30px;
      }
    }

    .boardPopular {
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }

  .right {
    position: sticky;
    top: calc($header-height + 60px);

    display: none;

    @media (min-width: 1440px) {
      display: block;
    }
  }
}
