@use "@/styles/globals.scss" as *;
@use "sass:color";

.bar {
  width: 100%;
  height: 1px;
  background-color: $color-border-gray-subtle;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 12px;

  .headerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .chip {
      flex-shrink: 0;
    }

    .title {
      @include Title3;
      color: $color-surface-inverse;

      @include Size("mobile") {
        @include Sub2;
      }
    }

    .notice {
      display: flex;
      align-items: flex-end;
      gap: 10px;

      .noticeTitle {
        @include Title3;
        color: $color-status-positive;
      }

      .noticeCreatedAt {
        @include Label1;
        color: $color-text-gray-subtle;
        @include Drag;
      }
    }

    .authorCreatedAt {
      display: flex;
      align-items: center;
      gap: 8px;

      .author {
        @include Body1;
        color: $color-text-gray-normal;

        @include Size("mobile") {
          @include Label2;
        }
      }

      .createdAt {
        @include Label1;
        color: $color-text-gray-subtle;
        @include Drag;

        @include Size("mobile") {
          @include Label2;
        }
      }
    }
  }

  .dropdownContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    @include Drag;
  }
}

.content {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 24px;
  line-height: 24px;
  color: $color-text-gray-bold;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  min-height: 120px;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 14px;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 14px;
  }

  p {
    padding-bottom: 6px;
  }

  strong {
    font-weight: 700;
  }
}

.counts {
  display: flex;
  align-items: center;
  gap: 8px;
  @include Drag;

  .count {
    display: flex;
    gap: 2px;
    align-items: center;
    @include Cap2;
    color: $color-text-gray-normal;
  }
}

.boardActionBar {
  margin-top: 28px;
  margin-bottom: 60px;

  @include Size("mobile") {
    margin-bottom: 40px;
  }
}

.uploadBtn {
  margin-top: 24px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include Size("tablet") {
    margin-top: 14px;
    margin-bottom: 30px;
  }
}

.boardPopular {
  margin-top: 60px;
  margin-bottom: 50px;
}
