@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 32px;
    @include Drag;
    align-items: center;

    @include Size("mobile") {
      height: auto;
      margin-top: 8px;
      margin-bottom: 16px;
    }

    @include Size("tablet") {
      height: auto;
    }
  }

  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.noResults {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include Sub2;
  color: $color-text-gray-subtle;
  margin-top: 60px;
  margin-bottom: 200px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: relative;

  @include Size("mobile") {
    margin-top: 40px;
  }
}

.uploadBtn {
  position: absolute;
  right: 0;
}
