@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 32px;

    @include Size("mobile") {
      height: auto;
      margin-top: 8px;
      margin-bottom: 16px;
    }

    @include Size("tablet") {
      height: auto;
    }

    .types {
      display: flex;
      align-items: center;
      gap: 8px;

      .type {
        border: none;
        background: none;
        @include Sub4;
        color: $gray60;
        padding: 0;
        cursor: pointer;
      }

      .active {
        @extend .type;
        color: $secandary1;
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    gap: 12px;

    @include Size("mobile") {
      width: 100%;
      gap: 8px;
      margin-bottom: 20px;
    }

    .dropdown {
      position: relative;
      flex-shrink: 0;

      .dropdownBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        outline: none;
        border: none;
        cursor: pointer;
        @include Drag;
        border: 1px solid $gray30;
        color: $gray70;
        background-color: $gray0;
        padding: 10px 12px 10px 16px;
        border-radius: 12px;
        @include Label1;
        line-height: 20px;

        @include Size("mobile") {
          height: 40px;
        }

        &:hover {
          background-color: darken($gray0, 4%);
        }

        &:active {
          background-color: darken($gray0, 8%);
        }
      }
    }

    .searchbarContainer {
      width: 250px;
      height: 40px;
      padding-left: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      border-radius: 12px;
      border: 1px solid $gray30;
      background-color: $gray10;

      @include Size("mobile") {
        width: 100%;
      }

      .input {
        width: 100%;
        color: $gray70;
        @include Label2;
        background: none;
        border: none;
        outline: none;

        &::placeholder {
          color: $gray50;
        }
      }
    }
  }

  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .uploadBtn {
    width: 120px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .paginationDetail {
    margin-top: 40px !important;
  }

  .pagination {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    @include Size("mobile") {
      margin-top: 28px;
    }

    button {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray0;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      @include Label2;
      color: $gray70;

      &:hover {
        background-color: $gray10;
      }
    }

    .paginationArrow {
      padding: 6px;
      background-color: transparent;
      border: none;

      &:hover {
        background-color: $gray10;
      }

      &:disabled {
        display: none;
      }
    }

    .active {
      background-color: $gray20;
    }
  }
}

.noResults {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include Sub2;
  color: $gray50;
}
