@use "@/styles/globals.scss" as *;
@use "sass:color";

.layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  height: 100%;
  padding: 0 0 0 254px;

  @include Size("tablet") {
    padding: 0 0 0 80px;
  }

  @include Size("mobile") {
    padding: 0 16px;
  }

  .children {
    width: 100%;
    max-width: 1462px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px auto 80px;
    padding: 0 30px;

    @include Size("tablet") {
      margin: 60px auto 80px;
    }

    @include Size("mobile") {
      margin: 60px auto 80px;
    }
  }

  .topButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: $primary4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    opacity: 0;
    @include Drag;

    @include Size("mobile") {
      right: 16px;
    }

    &:hover {
      background-color: color.adjust($primary4, $lightness: 10%);
    }
  }

  .topButton.show {
    opacity: 1;
    z-index: 1000;
  }
}
