@use "@/styles/globals.scss" as *;
@use "sass:color";

.layout {
  width: 100%;
  position: relative;
  .container {
    position: relative;
    top: $header-height;
    display: flex;
    flex-direction: column;

    &.noHeader {
      top: 0;
    }
  }

  .children {
    display: flex;
  }

  .topButton {
    visibility: hidden;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: $color-surface-primary-normal;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    opacity: 0;
    @include Drag;

    :global(body.modalOpen) & {
      right: calc(40px + var(--scrollbar-width));
    }

    @include Size("mobile") {
      right: 16px;

      :global(body.modalOpen) & {
        right: calc(16px + var(--scrollbar-width));
      }
    }

    &:hover {
      background-color: color.adjust($color-surface-primary-normal, $lightness: 10%);
    }
  }

  .topButton.show {
    opacity: 1;
    z-index: 1000;
    visibility: visible;
  }
}
