@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 30px 0;

  @include Size("mobile") {
    padding: 16px 16px 0;
  }

  @include Size("tablet") {
    padding: 16px 16px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  border: none;
  background: none;
  color: $color-surface-inverse;
  cursor: pointer;
}

.title {
  @include Title3;
  color: $color-surface-inverse;

  @include Size("mobile") {
    @include Title4;
  }

  @include Size("tablet") {
    @include Title4;
  }
}

.headerButtons {
  display: none;
  align-items: center;
  gap: 8px;

  @include Size("mobile") {
    display: flex;
  }

  @include Size("tablet") {
    display: flex;
  }
}
