@import "@/styles/globals.scss";

.results {
  width: 100%;

  .sortWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .title {
    @include Title3;
    color: $gray70;
  }

  .sort {
    position: relative;
  }

  .feedContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 40px;
  }
}

.noResult {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Sub2;
  color: $gray50;
  margin-top: 50px;
}
