@use "@/styles/globals.scss" as *;

.results {
  width: 100%;

  .sortWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    @include Size("mobile") {
      margin-bottom: 8px;
    }
  }

  .title {
    @include Sub2;
    color: $color-text-gray-normal;
    @include Drag;

    .searchCount {
      color: $color-text-gray-bold;
    }

    @include Size("mobile") {
      @include Label2;
    }
  }

  .sort {
    position: relative;
  }

  .feedContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 40px;

    @include Size("mobile") {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 12px;
      grid-row-gap: 20px;
    }

    @include Size("tablet") {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 30px;
    }
  }
}

.noResult {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Sub2;
  color: $color-text-gray-subtle;
  margin-top: 50px;
  @include Drag;
}
