@import "@/styles/globals.scss";

.results {
  width: 100%;

  .sortWrapper {
    position: relative;
    justify-self: flex-end;
  }

  .feedContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 40px;
  }
}

.noResult {
  align-self: center;
  justify-self: center;
  @include Sub2;
  color: $gray50;
  margin-top: 50px;
}
