@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;

  @include Size("mobile") {
    overflow-y: auto;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
      @include Title3;
      color: $color-text-gray-bold;
    }

    .subtitle {
      @include Sub4;
      color: $color-text-gray-normal;
    }
  }

  .textBtnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    max-height: 552px;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(112, 115, 124, 0.16);
      border-radius: 10px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(57, 58, 61, 0.16);
    }

    @include Size("mobile") {
      height: 100%;
      gap: 0;

      &::-webkit-scrollbar {
        width: 0;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(112, 115, 124, 0.16);
      border-radius: 10px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(57, 58, 61, 0.16);
    }

    @include Size("mobile") {
      max-height: 100%;
    }
  }

  .checkbox {
    cursor: pointer;
  }

  .label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .text {
    color: $color-text-gray-normal;
    @include Cap1;

    .underline {
      text-decoration: underline;
      color: $color-text-gray-bold;
    }
  }

  .contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .label {
      @include Sub3;
      align-self: stretch;
      color: $color-surface-inverse;
    }

    .textareaContainer {
      width: 100%;
      height: 120px;
      padding: 16px 20px;
      border-radius: 12px;
      background-color: $color-surface-gray-subtlest;
      border: 1px solid $color-border-gray-subtle;
      position: relative;
      overflow-y: auto;

      &:focus-within {
        border: 1px solid $color-status-positive;
        background-color: $color-surface-base;
      }

      @include Size("mobile") {
        height: 100px;
      }

      .textarea {
        width: 100%;
        height: 87%;
        @include Label2;
        color: $color-surface-inverse;
        border: none;
        outline: none;
        padding: 0;
        background-color: $color-surface-gray-subtlest;
        resize: none;

        &:focus-within {
          background-color: $color-surface-base;
        }

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: $color-text-gray-subtler;
          border-radius: 10px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: $color-text-gray-subtle;
        }
      }

      .countTotal {
        position: absolute;
        right: 20px;
        bottom: 12px;
        display: flex;
        @include Label1;
        color: $color-text-gray-normal;
      }

      .count {
        color: $color-surface-inverse;
      }
    }
  }

  .linkContainer {
    .editBar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .editOrderBtn {
        align-items: flex-end;
        @include Label2;
        color: $color-text-gray-normal;
        cursor: pointer;
      }
    }

    .urlInput {
      width: 100%;
    }

    .label {
      @include Sub3;
      align-self: stretch;
      color: $color-surface-inverse;
      margin-bottom: 12px;
    }

    .linkInputContainer {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;
      flex-shrink: 0;
      margin-bottom: 10px;
    }

    .linkName {
      min-width: 140px;

      @include Size("mobile") {
        width: 100px;
        min-width: 100px;
      }
    }

    .removeLinkButton {
      cursor: pointer;
    }

    .addBtn {
      margin: 12px 0;
    }
  }
}
