@use "@/styles/globals.scss" as *;

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  background-color: $color-border-gray-subtler;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $color-border-gray-subtler;
  color: $color-text-gray-normal;
  @include Label2;
  text-align: center;
  border: 1px solid $color-border-gray-subtle;
  border-radius: 4px;

  span {
    padding: 8px;
  }
}
