@use "@/styles/globals.scss" as *;

.container {
  position: sticky;
  top: $header-height;
  height: calc($full-height - $header-height);
  max-width: $sidebar-width;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 12px;
  background-color: $color-surface-base;
  box-shadow: 1px 0 0 0 $color-border-gray-subtle;
  display: flex;
  z-index: 1;

  @include Size("tablet") {
    max-width: $sidebar-width-tablet;
    padding: 0 10px;
  }

  @include Size("mobile") {
    display: none;
  }

  & > :first-child {
    margin-top: 16px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .footer {
    width: 100%;
  }
}
