@use "@/styles/globals.scss" as *;

.chatItem {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px 30px;

  &:hover {
    background-color: $color-surface-gray-subtlest;
  }

  &:active {
    background-color: $color-border-gray-subtler;
  }

  &.edit {
    gap: 16px;
  }

  @include Size("mobile") {
    padding-left: 25px;
    padding-right: 16px;
  }

  @include Size("tablet") {
    padding-left: 25px;
    padding-right: 16px;
  }
}

.avatar {
  flex-shrink: 0; // 너비가 줄어들지 않도록
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.chatDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden; // 내부 요소가 넘치는 것을 방지
}

.topRow {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  @include Label2;
  color: $color-text-gray-normal;
}

.timestamp {
  @include Cap2;
  color: $color-text-gray-subtle;
  flex-shrink: 0; // 너비가 줄어들지 않도록
}

.lastMessage {
  @include Label2;
  color: $color-text-gray-bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notificationBadge {
  background-color: $color-status-negative;
  color: $color-surface-base;
  @include Cap1;
  padding: 2px 6px;
  border-radius: 12px;
  flex-shrink: 0;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("/icon/checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.hiddenCheckbox:checked + .customCheckbox::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/icon/checkedbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.highlighted {
  color: $color-status-positive;
  @include Label2;
}
