@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: spacing.$spacing-20;
  margin-bottom: spacing.$spacing-40;

  @include bp.breakpoint-down("xs") {
    margin-bottom: spacing.$spacing-28;
  }
}

.itemLink {
  display: block;
  width: 100%;
}

.emptyWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination {
  margin-top: spacing.$spacing-8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: spacing.$spacing-8;

  @include bp.breakpoint-down("xs") {
    margin-top: spacing.$spacing-28;
    gap: spacing.$spacing-4;
  }
}
