@import "@/styles/globals.scss";

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 40px;

  @include Size("mobile") {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.pagination {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    @include Label2;
    color: $gray70;

    &:hover {
      background-color: $gray10;
    }
  }

  .paginationArrow {
    padding: 6px;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $gray10;
    }

    &:disabled {
      display: none;
    }
  }

  .active {
    background-color: $gray20;
  }
}

.noResult {
  @include Sub2;
  color: $gray50;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  gap: 24px;
}
