@use "@/styles/globals.scss" as *;
@use "@/styles/breakpoint" as *;
@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: spacing.$spacing-48 spacing.$spacing-20 spacing.$spacing-20;

  @include breakpoint-down("xs") {
    padding: spacing.$spacing-16 spacing.$spacing-16 spacing.$spacing-20;
  }
}

.center {
  width: 100%;
  max-width: $max-width-container;
}

.title {
  margin: 0 0 spacing.$spacing-24;
  color: colors.$text-gray-bold;
  @include typo.title-1;

  @include breakpoint-down("xs") {
    margin-bottom: spacing.$spacing-12;
    @include typo.title-2;
  }
}


.content {
  width: 100%;
}
