@use "@/styles/globals.scss" as *;

.sidebarItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 234px;
  padding: 0 20px;
  @include Body1;
  color: $gray60;
  cursor: pointer;
  width: fit-content;

  @include Size("tablet") {
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    width: 100%;
    padding: 0;
  }

  @include Size("mobile") {
    height: 20px;
    padding: 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    @include Size("tablet") {
      flex-direction: column;
      justify-content: center;
    }

    .icon {
      width: 18px;
      height: 18px;

      @include Size("mobile") {
        width: 16px;
        height: 16px;
      }

      @include Size("tablet") {
        width: 24px;
        height: 24px;
        margin: 8px;
      }
    }
  }
}

.label {
  @include Body1;
  margin-left: 10px;
  color: $gray70;

  @include Size("tablet") {
    @include Label2;
    margin-left: 0;
  }

  @include Size("mobile") {
    @include Label2;
  }
}

.dropdownIcon {
  margin-left: 6px;
  transition: transform 0.3s ease-in-out;

  &.active {
    transform: rotate(180deg);
  }

  @include Size("tablet") {
    display: none;
  }
}
