@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  width: 100%;
  gap: 30px;
  box-shadow: inset -1px 0 0 $gray30;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  gap: 20px;
}

.empty {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.emptyText {
  @include Sub4;
  color: $gray60;
  text-align: center;
}

.loading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    @include Sub4;
    color: $gray60;
  }
}
