@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  width: 100%;
  padding: 24px 30px;
  gap: 30px;
  box-shadow: inset -1px 0 0 $gray30;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden; // 내부 스크롤은 ChatList에서 담당
  gap: 20px;
}

.empty {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.emptyText {
  @include Sub4;
  color: $gray60;
}
