@use "@/styles/globals.scss" as *;
@use "sass:color";

.background {
  width: 100%;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;

  @include Size("mobile") {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  @include Size("tablet") {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container {
    width: 100%;
    max-width: $max-width-container;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 60px;
    padding-bottom: 60px;

    @include Size("mobile") {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    @include Size("tablet") {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .uploadBtnContainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .sectionContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      @include Size("mobile") {
        gap: 0px;
      }

      @include Size("tablet") {
        gap: 0px;
      }

      .imageSection {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 28px;

        @include Size("mobile") {
          justify-content: flex-start;
        }

        @include Size("tablet") {
          justify-content: flex-start;
        }

        .uploadBtn {
          border-radius: 12px;
          cursor: pointer;
          @include Drag;
        }

        .imageContainer {
          $side-padding: 64px;
          $upload-width: 260px;

          max-width: calc(100vw - $sidebar-width - $side-padding - $upload-width);
          min-width: 0;
          display: flex;
          gap: 20px;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
          padding-bottom: 8px;
          @include Drag;
          height: fit-content;

          &::-webkit-scrollbar {
            height: 8px;
          }

          &::-webkit-scrollbar-track {
            background: $color-border-gray-subtler;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background: $color-status-positive;
            border-radius: 10px;
            cursor: pointer;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: color.adjust($color-status-positive, $lightness: 10%);
          }

          @include Size("mobile") {
            min-width: 0;
            max-width: 100vw;

            &::-webkit-scrollbar {
              display: none;
            }

            &::-webkit-scrollbar-thumb {
              display: none;
            }
          }

          @include Size("tablet") {
            $side-padding: 32px;

            min-width: 0;
            max-width: calc(100vw - $sidebar-width-tablet - $side-padding);

            &::-webkit-scrollbar {
              display: none;
            }

            &::-webkit-scrollbar-thumb {
              display: none;
            }
          }
        }

        .imageWrapper {
          position: relative;
          width: fit-content;
        }

        .addBtnContainer {
          display: flex;
          width: 100%;
          justify-content: center;
          gap: 20px;
          flex-shrink: 0;
          height: fit-content;

          &.empty {
            gap: 0;
          }
        }
      }

      .imageAddBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        outline: none;
        border: none;
        cursor: pointer;
        @include Drag;
        border: 1px solid $color-border-gray-subtle;
        color: $color-text-gray-bold;
        background-color: $color-surface-base;
        width: 100%;
        padding: 11px 16px;
        border-radius: 12px;
        @include Btn2;

        &:hover {
          background-color: color.adjust($color-surface-base, $lightness: 4%);
        }

        &:active {
          background-color: color.adjust($color-surface-base, $lightness: 8%);
        }
      }

      .writeSection {
        max-width: $max-width-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 16px;
        padding-bottom: 16px;

        @include Size("mobile") {
          padding-bottom: 40px;
          margin-top: 32px;
        }

        @include Size("tablet") {
          padding-bottom: 40px;
          margin-top: 24px;
        }

        .bar {
          width: 100%;
          height: 1px;
          background-color: $color-border-gray-subtle;
          margin: 24px 0;

          @include Size("mobile") {
            margin: 20px 0;
          }
        }

        .textField {
          width: 100%;
          display: flex;
          flex-direction: column;

          .countTotal {
            display: flex;
            @include Body1;
            color: $color-text-gray-subtle;
          }

          .count {
            color: $color-text-gray-bold;
          }

          .inputContainer {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;

            .input {
              width: 100%;
              @include Title2;
              color: $color-surface-inverse;
              border: none;
              outline: none;
              padding: 0;

              &::placeholder {
                color: $color-text-gray-subtle;
              }

              @include Size("mobile") {
                @include Sub4;
              }
            }
          }

          .contentContainer {
            width: 100%;
            display: flex;
            flex-direction: column;

            .textareaContainer {
              width: 100%;
              height: 200px;

              @include Size("mobile") {
                height: 170px;
              }

              .contentCount {
                width: 100%;
                display: flex;
                justify-content: flex-end;
              }

              .textarea {
                width: 100%;
                height: 90%;
                border: none;
                outline: none;
                @include Body1;
                color: $color-text-gray-bold;
                resize: none;

                &::placeholder {
                  color: $color-text-gray-subtle;
                }

                &::-webkit-scrollbar {
                  width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                  background: $color-border-gray-subtle;
                  border-radius: 10px;
                  cursor: pointer;
                }

                &::-webkit-scrollbar-thumb:hover {
                  background: $color-text-gray-subtler;
                }
              }
            }
          }

          .label {
            @include Sub3;
            color: $color-surface-inverse;
            flex-shrink: 0;
            @include Drag;
          }

          .tagContainer {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .tagInputContainer {
              display: flex;
              gap: 65px;

              @include Size("mobile") {
                flex-direction: column;
                gap: 12px;
              }

              .inputContainer {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 16px;

                .albumClick {
                  cursor: pointer;
                  width: fit-content;
                }

                .text {
                  color: $color-text-gray-subtle;
                  @include Body1;

                  &:selected {
                    color: $color-text-gray-bold;
                  }
                }

                .textSelected {
                  color: $color-text-gray-bold;
                  @include Body1;
                }
              }

              .input {
                width: 100%;
                @include Body1;
                color: $color-surface-inverse;
                border: none;
                outline: none;
                padding: 0;

                &::placeholder {
                  color: $color-text-gray-subtle;
                }
              }
            }
          }

          .tagList {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 20px;

            .deleteTag {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
          }
        }
      }

      .optionContainer {
        display: flex;
        align-items: center;
        gap: 36px;
        margin-top: 50px;
        @include Drag;

        @include Size("mobile") {
          margin-top: 28px;
          flex-direction: column;
          gap: 12px;
          align-items: flex-start;
        }

        .options {
          display: flex;
          align-items: center;
          gap: 20px;
          @include Body1;
          color: $color-text-gray-bold;

          .option {
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;
            line-height: 0;
          }
        }
      }
    }
  }
}

.uploadBtn {
  display: flex;
  justify-content: center;
}
