@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  width: 100%;
  padding-bottom: spacing.$spacing-24;
}

.inputContainer {
  width: 100%;
  margin-top: spacing.$spacing-56;
  margin-bottom: spacing.$spacing-2;
  display: flex;
  align-items: flex-start;
  gap: spacing.$spacing-16;

  @include bp.breakpoint-down("xs") {
    margin-top: spacing.$spacing-20;
  }
}

.submitBtn {
  flex-shrink: 0;
}

.list {
  display: flex;
  flex-direction: column;
}

.commentRow {
  width: 100%;
  padding: spacing.$spacing-20 0;
  border-bottom: 1px solid colors.$border-gray-subtle;
}

.childList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-20;
  margin-top: spacing.$spacing-20;
}

.menuAnchor {
  position: relative;
}

.menuDropdown {
  position: absolute;
  top: calc(100% + #{spacing.$spacing-4});
  right: 0;
  z-index: 10;
}

.replyInput {
  display: flex;
  align-items: flex-start;
  gap: spacing.$spacing-12;
  margin-top: spacing.$spacing-12;
  padding-left: spacing.$spacing-48;

  &.childReplyInput {
    padding-left: spacing.$spacing-32;
  }
}
