@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  padding-bottom: 25px;

  .inputContainer {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    gap: 16px;

    .submitBtn {
      flex-shrink: 0;
    }

    @include Size("tablet") {
      margin-top: 20px;
    }
  }

  .childComments {
    width: 100%;
    padding-left: 32px;
  }
  .comment {
    width: 100%;
  }

  .commentBody {
    width: 100%;
  }

  .writerReply {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $color-border-gray-subtle;
  }
  .writerLeft {
    display: flex;
    flex-direction: column;
  }
  .writerCreatedAt {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .writerName {
    @include Label1;
    color: $color-text-gray-normal;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .createdAt {
    @include Cap2;
    color: $color-text-gray-subtle;
    @include Drag;
  }

  .feedWriter {
    @include Cap3;
    color: $color-status-positive;
    background-color: $color-surface-primary-subtlest;
    border-radius: 50px;
    padding: 2px 8px;
    @include Drag;
  }

  .commentText {
    @include Body1;
    color: $color-surface-inverse;
    white-space: pre-line;
    margin-top: 6px;
    margin-bottom: 10px;

    .mentionedUser {
      color: $color-status-positive;
      @include Label1;
      margin-right: 4px;
    }
  }

  .likeReplyBtn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .likeButton {
    display: flex;
    align-items: center;
    gap: 2px;
    @include Cap1;
    color: $color-text-gray-normal;
    cursor: pointer;
    @include Drag;
  }
  .likeOnButton {
    @extend .likeButton;
    color: $color-status-positive;
  }

  .replyBtn {
    @include Label1;
    line-height: 24px;
    color: $color-text-gray-normal;
    cursor: pointer;
    @include Drag;
  }

  .viewReplies {
    width: 100%;
  }
}

.deleteComment {
  color: $color-text-gray-subtle;
  @include Label1;
}

.replyBtnDropdown {
  position: relative;
  @include Drag;
}

.input {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;

  .submitBtn {
    flex-shrink: 0;
  }
}
