@import "@/styles/globals.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1700;
}

.modal {
  background: $gray0;
  padding: 40px 32px;
  border-radius: 12px;
  width: 404px;
  min-height: 394px;
  position: relative;
}

.profileEditModal {
  @extend .modal;
  width: 500px;
}

.followModal {
  @extend .modal;
  width: 540px;
}

.closeButton {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.comfirmModal {
  background: $gray0;
  padding: 40px 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  width: 404px;
  min-height: 200px;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .title {
      @include Title3;
      color: $gray70;
      text-align: center;
    }

    .subtitle {
      @include Sub4;
      color: $gray60;
    }
  }

  .btnsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}
