@import "@/styles/globals.scss";

.results {
  width: 100%;

  .sortWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .sort {
    position: relative;
  }

  .feedContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.noResult {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Sub2;
  color: $gray50;
  margin-top: 50px;
}
