@import "@/styles/globals.scss";

.results {
  width: 100%;

  .sortWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    @include Size("mobile") {
      margin-bottom: 8px;
    }
  }

  .title {
    @include Title3;
    color: $gray60;
    @include Drag;

    .searchCount {
      color: $gray70;
    }

    @include Size("mobile") {
      @include Sub2;
    }

    @include Size("tablet") {
      @include Title4;
    }
  }

  .sort {
    position: relative;
  }

  .sortBtnContainer {
    width: 180px;

    @include Size("mobile") {
      width: 120px;
    }
  }

  .sortBtn {
    width: 100%;
    padding: 16px 24px;
    @include Btn1;
    color: $primary4;
    background-color: $gray0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    @include Drag;

    @include Size("mobile") {
      padding: 16px 0;
      @include Label1;
    }
  }

  .feedContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @include Size("mobile") {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 16px;
    }
  }
}

.noResult {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Sub2;
  color: $gray50;
  margin-top: 50px;
  @include Drag;
}
