@use "@/styles/globals.scss" as *;

.results {
  width: 100%;

  .title {
    @include Sub2;
    color: $color-text-gray-normal;
    @include Drag;
    display: flex;
    align-items: center;
    height: 54px;
    margin-bottom: 12px;

    .searchCount {
      color: $color-text-gray-bold;
    }

    @include Size("mobile") {
      @include Label2;
      height: 52px;
      margin-bottom: 8px;
    }
  }

  .sort {
    position: relative;
  }

  .sortBtnContainer {
    width: 180px;

    @include Size("mobile") {
      width: 120px;
    }
  }

  .sortBtn {
    width: 100%;
    padding: 16px 24px;
    @include Btn1;
    color: $color-text-primary-normal;
    background-color: $color-surface-base;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    @include Drag;

    @include Size("mobile") {
      padding: 16px 0;
      @include Label1;
    }
  }

  .feedContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @include Size("mobile") {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 16px;
    }
  }
}

.noResult {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include Sub2;
  color: $color-text-gray-subtle;
  margin-top: 50px;
  @include Drag;
}
