@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 80px;

  @include Size("tablet") {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @include Size("mobile") {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .center {
    width: 100%;
    max-width: $max-width-container;
    margin: 0 auto;

    .searchBarSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-bottom: 60px;

      @include Size("mobile") {
        margin-bottom: 30px;
      }

      @include Size("tablet") {
        margin-bottom: 40px;
      }

      .searchBarContainer {
        width: 100%;
        max-width: 780px;
      }

      .recommend {
        display: flex;
        align-items: center;
        gap: 16px;

        @include Size("mobile") {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
        }

        .recommendMessage {
          @include Sub2;
          color: $color-text-gray-bold;
          flex-shrink: 0;
          @include Drag;
        }

        .swiperContainer {
          width: 100%;
        }

        .swiperSlide {
          width: auto !important;
          height: auto !important;
        }

        .chips {
          display: flex;
          gap: 8px;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;
        }

        .chipLink {
          text-decoration: none;
          -webkit-tap-highlight-color: transparent;
        }

        .chip {
          display: flex;
          padding: 10px 16px;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          background-color: $color-surface-gray-subtlest;
          @include Label1;
          color: $color-text-gray-normal;
          white-space: nowrap;
          @include Drag;

          &:active {
            background-color: $color-border-gray-subtler;
          }
        }
      }
    }
  }

  .navContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 12px;
    @include Drag;

    .button {
      padding: 0 12px 8px;
      background: none;
      border: none;
      color: $color-text-gray-normal;
      @include Title4;
      cursor: pointer;

      &:hover {
        color: $color-text-gray-bold;
      }

      &.selected {
        border-bottom: 2px solid $color-text-gray-bold;
        color: $color-text-gray-bold;
        padding: 0 12px 6px;
        transition: transform 0.3s ease, width 0.3s ease;

        @include Size("mobile") {
          padding: 0 0 6px;
        }
      }

      @include Size("mobile") {
        @include Sub4;
        padding: 0 0 8px;
      }
    }

    .bar {
      width: 1px;
      height: 20px;
      background-color: $color-border-gray-subtle;
      padding: 0;
      margin-bottom: 8px;
    }
  }
}
