@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;

  @include Size("mobile") {
    margin-top: 24px;
  }

  .spaceBetween {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .seeMore {
      @include Sub4;
      color: $color-text-gray-normal;
      cursor: pointer;
      @include Drag;
    }
  }

  .profileContainer {
    display: flex;
    align-items: center;

    @include Size("mobile") {
      width: 100%;
      justify-content: space-between;
    }

    .profileLeft {
      display: flex;
      align-items: center;
      cursor: pointer;

      .authorImage {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $color-border-gray-subtle;
        @include Drag;
      }

      .authorInfo {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 24px;

        .authorName {
          @include Sub2;
          color: $color-surface-inverse;

          @include Size("mobile") {
            @include Sub4;
          }
        }

        .follower {
          @include Sub4;
          color: $color-text-gray-normal;
          display: flex;
          gap: 8px;
          @include Drag;

          .followerColor {
            color: $color-text-gray-bold;
          }

          @include Size("mobile") {
            @include Label1;
          }
        }
      }
    }
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;

    @include Size("mobile") {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
