@import "@/styles/globals.scss";

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  padding: 0 80px;
  z-index: 10;
  display: flex;
  justify-content: center;
  background: $gray0;
  align-items: center;
}

.userPageHeader {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  padding: 0 80px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(152, 152, 152, 0.2);
  backdrop-filter: blur(75px);
}

.container {
  max-width: 1280px;
  padding: 12px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 50px;

  .nav {
    display: flex;
    align-items: center;
    position: relative;

    .navItem {
      display: flex;
      align-items: center;
      cursor: pointer;

      .item {
        color: $gray60;
        @include Sub2;
        display: inline-block;
        margin: 0;
        transition: color 0.3s;

        &.active {
          color: $gray70;
        }
      }

      .userPageitem {
        @extend .item;
        color: $gray0;
      }

      .bar {
        width: 1px;
        height: 20px;
        background-color: $gray20;
        transition: background 0.3s;
        margin: 0 20px;
      }
    }

    .indicator {
      position: absolute;
      height: 2px;
      background-color: $gray80;
      transition: transform 0.3s ease, width 0.3s ease;
      bottom: -8px;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.profileImage {
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  padding: 8px 0;
  top: 40px;
  left: 0;
  background: $gray0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  z-index: 10;
  width: 150px;
  overflow: hidden;

  .dropdownItem {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    cursor: pointer;
    @include Sub4;
    color: $gray80;

    &:hover {
      background: $gray10;
    }

    &.logout {
      color: $gray60;
      @include Sub4;
    }

    .dropdownProfileImage {
      margin-right: 8px;
      border: 1px solid $gray20;
      object-fit: cover;
      border-radius: 50px;
      overflow: hidden;
    }
  }

  .divider {
    height: 1px;
    background: #e0e0e0;
    margin: 4px 0;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.uploadBtn {
  &:hover {
    animation: pulse 0.6s ease-in-out;
  }
}
