@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.search {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-8;
  flex: 1;
  min-width: 0;
  max-width: 400px;

  @include bp.breakpoint-down("xs") {
    max-width: none;
    margin-bottom: spacing.$spacing-20;
  }
}

.textField {
  flex: 1;
  min-width: 0;
}
