@use "@/styles/tokens/colors/semantic" as colors;

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  background-color: colors.$bg-overlay-black;
}

.noDim {
  background-color: transparent;
  pointer-events: none;
}
