@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  height: 52px;
  padding: 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid $color-border-gray-subtle;
  background-color: $color-surface-gray-subtlest;

  .leftContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    .input {
      width: 100%;
      outline: none;
      border: none;
      background: none;
      @include Body1;
      color: $color-text-gray-bold;

      &::placeholder {
        @include Body1;
        color: $color-text-gray-subtle;
      }
    }
  }
}
