@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  flex-shrink: 0;
  border: 1px solid $gray30;
  border-radius: 12px;

  .imageWrapper {
    width: 100%;
    display: flex;
    @include Drag;
    aspect-ratio: 2/1;
    background-color: rgba(0, 0, 0, 0.02);

    .imageContainer {
      position: relative;
      width: 50%;
      height: 100%;

      .background {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }

  .profileWrapper {
    display: flex;
    flex-direction: column;
    background-color: $gray0;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 0 0 12px 12px;

    .profileLeft {
      display: flex;
      align-items: center;
      gap: 8px;

      .profileImage {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50px;
        border: 1px solid $gray30;
        flex-shrink: 0;
        @include Drag;
      }

      .nameContainer {
        display: flex;
        flex-direction: column;

        .name {
          @include Sub4;
          color: $gray70;
        }

        .follower {
          @include Cap2;
          color: $gray60;
          display: flex;
          gap: 4px;
          @include Drag;

          .followerCount {
            color: $gray70;
          }
        }
      }
    }

    .description {
      @include Label2;
      color: $gray60;
      @include Drag;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;
    }
  }
}
