@use "@/styles/globals.scss" as *;
@use "sass:color";

.button {
  padding: 0 4px;
  @include Body1;

  @include Size("mobile") {
    @include Label2;
  }

  svg {
    width: 24px;
    height: 24px;

    @include Size("mobile") {
      width: 16px;
      height: 16px;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 32px;

  @include Size("mobile") {
    padding: 0 16px;
  }

  .center {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
  }
}

.footer {
  @include Body1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: $color-surface-base;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;

    @include Size("tablet") {
      padding: 0 8px;
    }

    @include Size("mobile") {
      margin-left: 0;
      padding: 0 16px;
    }
  }

  .leftSection {
    display: flex;
    align-items: center;
  }

  .rightSection {
    display: flex;
    align-items: center;

    gap: 50px;

    @include Size("mobile") {
      gap: 26px;
    }
  }

  @include Size("mobile") {
    position: fixed;
    @include SafeAreaBottom(44);
  }
}

.albumInfo {
  margin: 24px 0;
  width: 100%;
  box-sizing: border-box;

  .albumName {
    @include Title1;
    margin-bottom: 8px;

    @include Size("mobile") {
      @include Sub1;
    }
  }

  .feedCountContainer {
    @include Body1;
    color: $color-text-gray-normal;
    gap: 12px;

    .feedCount {
      color: $color-text-gray-bold;
    }
  }
}

.selectionControl {
  padding: 0 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px;

  @include Size("tablet") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include Size("mobile") {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

.cardWrapper {
  width: 100%;
  height: auto;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;

  p {
    @include Sub2;
    color: $color-text-gray-normal;
  }
}
