@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray30;

  @include Size("mobile") {
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 1px solid $gray20;
  }

  .chipContainer {
    width: 80px;
    flex-shrink: 0;

    @include Size("mobile") {
      width: auto;
      margin-bottom: 6px;
      margin-right: 8px;
    }
  }

  .spaceBetweenWrapper {
    display: flex;
    width: 100%;

    @include Size("mobile") {
      flex-direction: row;
    }
  }

  .spaceBetween {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include Size("mobile") {
      flex-direction: column;
      justify-content: flex-start;
      gap: 6px;
    }
  }

  .titleContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 600px;
    min-width: 400px;

    @include Size("mobile") {
      max-width: auto;
      min-width: auto;
    }

    .titleContainer {
      display: flex;
      align-items: center;
      gap: 4px;

      @include Size("mobile") {
        width: 100%;
      }

      .title {
        @include Sub4;
        color: $gray80;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: unset;

        @include Size("mobile") {
          max-width: 290px;
          text-overflow: clip;
        }
      }

      .comment {
        @include Label2;
        color: $red;
        border: 1px solid $gray30;
        padding: 0 4px;
        display: flex;
        gap: 3px;
        align-items: center;
        border-radius: 8px;
      }
    }

    .content {
      width: 100%;
      @include Label2;
      color: $gray60;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .myCount {
    @include Cap2;
    color: $gray60;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .rightContainer {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    @include Size("mobile") {
      max-width: auto;
      align-items: flex-start;
    }

    .author {
      @include Label2;
      color: $gray60;

      @include Size("mobile") {
        @include Cap2;
      }
    }

    .createdAtView {
      display: flex;
      align-items: center;
      gap: 6px;
      height: 100%;
      @include Drag;

      .createdAt {
        @include Label2;
        color: $gray60;

        @include Size("mobile") {
          @include Cap2;
        }
      }

      .viewCount {
        @include Cap2;
        color: $gray60;
        display: flex;
        gap: 2px;
        align-items: center;
      }

      .comment {
        @include Label2;
        color: $red;
        border: 1px solid $gray30;
        padding: 0 4px;
        display: flex;
        gap: 3px;
        align-items: center;
        border-radius: 8px;
      }
    }

    .savedPosts {
      max-width: 340px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .savedCreatedAtView {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @extend .createdAtView;
        margin-right: 60px;

        @include Size("mobile") {
          width: auto;
          align-items: center;
          flex-direction: row;
        }
      }

      .savedPc {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
      }
    }

    .author {
      @include Label2;
      color: $gray60;
      @include Drag;

      @include Size("mobile") {
        @include Cap2;
      }
    }
  }
}
.dropdown {
  position: relative;
}
.savedIcon {
  display: flex;
  align-items: center;
}
