@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include Drag;
    background-color: rgba(0, 0, 0, 0.02);

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .likeBtn {
      position: absolute;
      bottom: 11px;
      right: 9px;
      z-index: 1;

      &:hover {
        animation: pulse 0.5s ease-in-out;
      }
    }

    .overlapIcon {
      position: absolute;
      bottom: 11px;
      right: 9px;
      z-index: 1;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      color: $gray80;
      @include Sub4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;
    }

    .profileContainer {
      display: flex;
      align-items: center;
      gap: 8px;

      .author {
        @include Label1;
        color: $gray60;
      }

      .countContainer {
        display: flex;
        gap: 6px;
        @include Drag;

        .likeContainer {
          display: flex;
          align-items: center;
          gap: 2px;
          @include Cap2;
          color: $gray60;
        }
      }
    }
  }
}
