@use "@/styles/globals.scss" as *;
@use "sass:color";

.container {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;

  @include Size("mobile") {
    gap: 12px;
    width: 100%;
  }
}

.iconButton {
  padding: 6px;
  color: $color-text-gray-bold;
}

.prevButton {
  @include Size("mobile") {
    order: 2;
    margin-left: auto;
  }
}

.nextButton {
  @include Size("mobile") {
    order: 3;
  }
}

.dateContainer {
  display: flex;
  align-items: center;

  @include Size("mobile") {
    gap: 10px;
  }
}

.calendarIcon {
  color: $color-text-gray-subtle;
  max-width: 0;

  @include Size("mobile") {
    max-width: fit-content;
  }
}

.date {
  @include Sub4;
  color: $color-text-gray-bold;
  background-color: transparent;
  padding: 0;
  transition: transform 0.3s ease;

  &.month {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  @include Size("mobile") {
    order: 1;
    @include Label2;

    & .calendarIcon {
      margin-right: 4px;
    }
  }
}

.icon {
  transition: transform 0.3s ease;

  &.open {
    transform: rotate(180deg);
  }
}

.monthList {
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top center;
  width: 100%;
  background-color: $color-surface-base;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  padding: 14px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 10;
  min-width: 230px;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scaleY(1);
    pointer-events: auto;
  }
}

.monthListBottomSheet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.monthListHeader {
  @include Label1;
  color: $color-text-gray-bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include Size("mobile") {
    @include Sub4;
  }
}

.monthListHeaderButton {
  padding: 4px;
}

.monthListHeaderText {
  @include Title4;
  color: $color-text-gray-bold;

  @include Size("mobile") {
    @include Sub4;
  }
}

.monthItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;

  @include Size("mobile") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 8px;
  }
}

.monthItemText {
  @include Body2;
  border-radius: 6px;
  border: 1px solid $color-border-gray-subtle;
  background-color: $color-surface-base;
  padding: 8px 0;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    border-color: $color-text-gray-subtle;
  }

  &.active {
    @include Sub4;
    border-color: $color-status-positive;
    background-color: rgba($color-status-positive, 0.1);
  }

  &:disabled {
    background-color: $color-border-gray-subtler;
    border-color: $color-border-gray-subtle;
    color: $color-text-gray-subtle;
  }

  @include Size("mobile") {
    @include Label3;
    border-radius: 12px;
    padding: 16px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.active {
      @include Label1;
    }
  }
}

.checkIcon {
  color: $color-status-positive;
  max-width: 0;

  @include Size("mobile") {
    max-width: fit-content;
  }
}

.disabled {
  color: $color-border-gray-subtle;
}
