@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/radius" as radius;

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: radius.$radius-md;
  box-shadow: 0 0 0 1px colors.$border-gray-subtler;
}
