@import "@/styles/globals.scss";

.mobileContainer {
  margin-top: 64px;
  width: 100vw;
  height: calc(100vh - 64px);
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $gray0;
  z-index: 15;
  padding: 16px;
}

.container {
  min-width: 500px;
  height: 600px;
  position: absolute;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background-color: $gray0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  z-index: 15;
  top: 100%;
  right: -100%;
  transform: translateY(10px);

  @include Size("tablet") {
    right: 0;
    min-width: 350px;
    height: 500px;
    padding: 20px;
  }
}

.notification {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include Size("mobile") {
    gap: 3px;
  }

  @include Size("tablet") {
    gap: 6px;
  }

  .topSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        @include Title3;
        color: $gray70;

        @include Size("tablet") {
          @include Title5;
        }
      }

      .headerBtns {
        display: flex;
        align-items: center;
        gap: 8px;

        .settingButton {
          padding: 0;
          background: none;
          border: none;
          cursor: pointer;
        }

        .closeButton {
          padding: 0;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .notiSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray20;
      border-radius: 10px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $gray30;
    }

    @include Size("mobile") {
      height: auto;
      max-height: calc(100vh - 64px - 150px);

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }

    @include Size("tablet") {
      height: 365px;
    }
  }

  .noneNoti {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $gray50;
    @include Sub2;

    @include Size("mobile") {
      height: 100px;
    }
  }

  .options {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include Size("mobile") {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $gray0;
      padding: 32px 16px 50px;
    }

    .option {
      width: 100%;
      border: 1px solid $gray30;
      color: $gray70;
      background-color: $gray0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 11px 20px;
      border-radius: 10px;
      @include Btn2;
      line-height: 14px;
      outline: none;
      cursor: pointer;
      @include Drag;

      &:hover {
        background-color: darken($gray0, 4%);
      }

      &:active {
        background-color: darken($gray0, 8%);
      }
    }
  }
}

.mobileSetting {
  @include Size("mobile") {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.setting {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include Size("mobile") {
    z-index: 15;
    background: white;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    padding: 20px 20px 24px;
    gap: 24px;
    margin-bottom: 64px;
  }

  .topSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        @include Title3;
        color: $gray70;

        @include Size("tablet") {
          @include Title5;
        }
      }

      .backButton {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
      }

      .closeButton {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
  .notiOption {
    display: flex;
    flex-direction: column;
    width: 100%;

    .column {
      width: 100%;
      height: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }

    .bar {
      width: 100%;
      height: 1px;
      background-color: $gray30;
      margin: 20px 0;
    }

    .label {
      @include Sub4;
      color: $gray80;
    }

    .gap {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .toggle {
      cursor: pointer;
      transition:
        transform 0.5s ease,
        opacity 0.5s ease;
    }

    .columnContainer {
      display: flex;
      align-items: flex-start;
      gap: 40px;

      @include Size("mobile") {
        gap: 20px;
      }

      .topLabel {
        @include Sub4;
        color: $gray60;
        width: 100px;
        flex-shrink: 0;

        @include Size("tablet") {
          width: 70px;
        }
      }

      .optionsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
