@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/tokens/colors/atomic" as atomic;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/radius" as radius;

.counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: radius.$radius-full;
  background-color: #{rgba(atomic.$black, atomic.$opacity60)};
  color: colors.$text-white;
  gap: spacing.$spacing-2;

  &.lg {
    padding: spacing.$spacing-4 spacing.$spacing-12;
    @include typo.label-2;
  }

  &.md {
    padding: spacing.$spacing-4 spacing.$spacing-10;
    @include typo.label-5;
  }

  .current,
  .separator,
  .total {
    display: inline-block;
  }
}
