@use "@/styles/tokens/colors/semantic" as colors;

.divider {
  border: none;
  margin: 0;
  padding: 0;
  flex-shrink: 0;

  &.normal {
    width: 100%;
    height: 1px;
  }

  &.bold {
    width: 100%;
    height: 12px;
  }

  &.vertical {
    width: 1px;
    height: 100%;
    align-self: stretch;
  }

  &.brand {
    background-color: colors.$border-primary-normal;
  }

  &.primary {
    background-color: colors.$border-gray-subtle;
  }

  &.secondary {
    background-color: colors.$border-gray-subtler;
  }
}
