@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 40px 32px;
  background-color: $gray0;

  .messageContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .text {
    color: $gray70;
    @include Sub4;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .kakaoButton {
      width: 100%;
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: #fee500;
      color: #392020;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      @include Btn1;
    }

    .googleButton {
      width: 100%;
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: $gray10;
      color: $primary4;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      @include Btn1;
    }
  }
}
