@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  min-width: 358px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 53.49px;
  padding: 28px 20px 20px;
  background-color: $color-surface-base;

  .messageContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 120px;
    height: 34px;
    color: $color-text-primary-normal;
  }

  .closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .close {
    color: $color-text-gray-bold;
  }

  .appleIcon {
    color: $color-text-primary-normal;
  }

  .text {
    color: $color-text-gray-bold;
    @include Sub4;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .button {
      width: 100%;
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border: none;
      border-radius: 12px;
      @include Btn1;
      cursor: pointer;
      border-width: 1px;
      border-style: solid;

      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }

      &.kakao {
        background-color: #fee500;
        border-color: #fee500;
        color: #392020;
      }

      &.google {
        background-color: $color-surface-gray-subtlest;
        color: $color-text-primary-normal;
        border-color: $color-surface-gray-subtlest;
      }

      &.apple {
        color: $color-surface-inverse;
        background-color: $color-surface-base;
        border: 1px solid $color-border-gray-subtle;
      }
    }
  }
}
