@use "@/styles/globals.scss" as *;

.container {
  --toast-offset: calc(58px + 16px);

  width: 100%;
  min-height: calc($full-height - $header-height);
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;

  @include Size("mobile") {
    min-height: $full-height;
  }
}

.footer {
  background-color: $color-surface-gray-subtlest;
  padding: 8px 16px;
  border-top: 1px solid $color-border-gray-subtle;
  
  .footerContent {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    
    .cameraButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: $color-text-gray-normal;
      padding: 0;
      width: 28px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    
    .sendButton {
      flex-shrink: 0;
    }
  }
}