@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  height: calc($full-height - $header-height);
  display: flex;
  flex-direction: column;

  @include Size("mobile") {
    height: $full-height;
  }
}

.footer {
  background-color: $gray0;
}
