@use "@/styles/globals.scss" as *;

.container {
  --toast-offset: calc(58px + 16px);

  width: 100%;
  min-height: calc($full-height - $header-height);
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;

  @include Size("mobile") {
    min-height: $full-height;
  }
}

.footer {
  background-color: $gray0;
}
