@use "@/styles/globals.scss" as *;

.category {
  width: auto;
  min-width: max-content;
  height: 46px;
  padding: 12px 22px;
  @include Sub4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 52px;
  outline: none;
  border: none;
  @include Drag;
  cursor: pointer;
  gap: 6px;
  white-space: nowrap;

  &.unselected {
    .quantity {
      color: $color-text-gray-normal;
      margin-left: 2px;
    }
  }

  @include Size("mobile") {
    height: 40px;
    padding: 7px 18px;
    @include Label1;
  }
}

@mixin category-styles($bg-color, $color, $border-color: transparent) {
  background-color: $bg-color;
  color: $color;
  border: 1px solid $border-color;

  &.unselected {
    background-color: $color-surface-base;
  }
}

.select {
  @include category-styles($color-status-positive, $color-surface-base);
}

.unselect {
  @include category-styles($color-surface-base, $color-text-gray-bold, $color-border-gray-subtle);
}

.quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  color: $color-surface-base;
  margin-left: 2px;
}
