@use "@/styles/globals.scss" as *;

.category {
  width: auto;
  min-width: max-content;
  height: 46px;
  padding: 12px 22px;
  @include Sub4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 52px;
  outline: none;
  border: none;
  @include Drag;
  cursor: pointer;
  gap: 6px;
  white-space: nowrap;

  &.unselected {
    .quantity {
      color: $gray60;
      margin-left: 2px;
    }
  }

  @include Size("mobile") {
    height: 40px;
    padding: 7px 18px;
    @include Label1;
  }
}

@mixin category-styles($bg-color, $color, $border-color: transparent) {
  background-color: $bg-color;
  color: $color;
  border: 1px solid $border-color;

  &.unselected {
    background-color: $gray0;
  }
}

.select {
  @include category-styles($secandary1, $gray0);
}

.unselect {
  @include category-styles($gray0, $gray70, $gray30);
}

.quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  color: $gray0;
  margin-left: 2px;
}
