@import "@/styles/globals.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .imageContainer {
    aspect-ratio: 4 / 3;
    border-radius: 12px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include Drag;

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .likeBtn {
      position: absolute;
      bottom: 10px;
      right: 9px;
      cursor: pointer;
      z-index: 1;

      &:hover {
        animation: pulse 0.5s ease-in-out;
      }
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      overflow: hidden;
      color: $gray80;
      text-overflow: ellipsis;
      @include Sub4;
    }

    .content {
      overflow: hidden;
      color: $gray60;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      @include Body1;
      min-height: 24px;
      margin-top: 4px;
    }

    .profileContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .informationContainer {
        display: flex;
        align-items: center;
        gap: 8px;

        .createdAt {
          @include Label2;
          color: $gray50;
          @include Drag;
        }
      }
    }

    .countContainer {
      display: flex;
      gap: 6px;
      @include Drag;
    }

    .likeContainer {
      display: flex;
      align-items: center;
      gap: 2px;
      @include Drag;

      .count {
        @include MEDIUM;
        font-size: 12px;
        line-height: 12px;
        color: $gray50;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      gap: 8px;

      .profileImage {
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $gray30;
        @include Drag;
      }

      .author {
        @include Label1;
        color: $gray60;
      }
    }
  }

  .mobileContainer {
    width: 100%;
    position: relative;

    .cardData {
      position: absolute;
      bottom: 16px;
      left: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .profile {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .profileImage {
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        @include Drag;
      }

      .author {
        @include Label1;
        color: $gray0;
      }

      .title {
        width: 280px;
        @include Sub4;
        color: $gray0;
      }
    }
  }
}
