@use "@/styles/globals.scss" as *;

.tabContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  @include Size("mobile") {
    gap: 4px;
  }
}

.tabButton {
  @include Body1;
  padding: 12px 22px;
  border: 1px solid $color-border-gray-subtle;
  border-radius: 32px;
  background-color: $color-surface-base;
  color: $color-text-gray-bold;
  cursor: pointer;
  transition: all 0.2s ease;

  @include Size("mobile") {
    padding: 10px 18px;
    @include Label2;
  }

  &:hover {
    border-color: $color-status-positive;
    color: $color-status-positive;
  }

  &.active {
    @include Sub4;
    background-color: $color-status-positive;
    border-color: $color-status-positive;
    color: $color-surface-base;

    @include Size("mobile") {
      @include Label1;
    }
  }
}
