@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tabs {
  display: flex;
  gap: 24px;
  position: relative;
}

.tab {
  color: $gray50;
  @include Title3;
  cursor: pointer;

  &.active {
    color: $gray70;
  }
}

.indicator {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 62px;
  height: 2px;
  background-color: $gray70;
  transition: transform 0.3s ease;
}

.tabContent {
  height: 400px;
  overflow-y: auto;
  display: flex;
  gap: 16px;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(112, 115, 124, 0.16);
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(57, 58, 61, 0.16);
  }

  ul {
    list-style: none;
    padding: 0;
    width: calc(100% - 16px - 7px);

    .item {
      display: flex;
      gap: 16px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $gray30;

      &:last-child {
        border: none;
      }
    }

    .image {
      border-radius: 50%;
      border: 1px solid $gray30;
      cursor: pointer;
    }

    .nameDescription {
      width: 426px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;
    }

    .nameContainer {
      width: 426px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .name {
      @include Sub4;
      color: $gray80;
    }

    .description {
      @include Label2;
      color: $gray60;
    }

    .btn {
      flex-shrink: 0;
    }

    .btnCenter {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }
  }
}

.noData {
  @include Sub2;
  color: $gray50;
  @include Drag;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
