@use "@/styles/globals.scss" as *;

.chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  @include Drag;
}

@mixin chip-styles($bg-color, $color, $border-color: transparent) {
  background-color: $bg-color;
  color: $color;
  border: 1px solid $border-color;

  &.unselected {
    background-color: $color-surface-gray-subtlest;
    color: $color-text-gray-subtler;
  }
}

.filled-primary {
  @include chip-styles($color-surface-primary-normal, $color-surface-base);
}

.filled-secondary {
  @include chip-styles($color-surface-primary-subtlest, $color-status-positive);
}

.filled-assistive {
  @include chip-styles($color-surface-gray-subtlest, $color-text-gray-normal);
}

.outlined-primary {
  @include chip-styles($color-surface-base, $color-text-primary-normal, $color-surface-primary-normal);
}

.outlined-secondary {
  @include chip-styles($color-surface-base, $color-status-positive, $color-status-positive);
}

.outlined-assistive {
  @include chip-styles($color-surface-base, $color-text-gray-bold, $color-border-gray-subtle);
}

.m {
  padding: 10px 16px;
  @include Btn2;
}

.s {
  padding: 6px 12px;
  @include Cap1;
  line-height: 16.8px;
}

.icon {
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
