@use "@/styles/globals.scss" as *;

.button {
  position: absolute;
  cursor: pointer;
  padding: 9px;
  border: 1px solid $color-border-gray-subtle;
  background-color: $color-surface-base;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-text-gray-bold;
}

.profileImageContainer {
  width: 140px;
  height: 140px;
  position: relative;
  @include Drag;

  @include Size("mobile") {
    width: 80px;
    height: 80px;
  }

  .profileImage {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $color-border-gray-subtle;
    background-color: $color-surface-base;

    @include Size("mobile") {
      border: 4px solid $color-surface-base;
    }
  }

  .deleteImageBtn {
    @extend .button;
    visibility: hidden;
    top: 0;
    right: 0;

    @include Size("mobile") {
      top: -16px;
      right: -16px;
    }
  }

  &:hover .deleteImageBtn {
    visibility: visible;
  }

  .addProfileImage {
    @extend .button;
    bottom: 0;
    right: 0;

    @include Size("mobile") {
      right: -16px;
    }
  }
}
