@use "@/styles/globals.scss" as *;

.container {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  .imageContainer.isSame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include Drag;
    background-color: rgba(0, 0, 0, 0.02);

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .likeBtn {
      position: absolute;
      bottom: 11px;
      right: 9px;
      z-index: 1;

      &:hover {
        animation: pulse 0.5s ease-in-out;
      }
    }

    .overlapIcon {
      position: absolute;
      bottom: 11px;
      right: 9px;
      z-index: 1;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      color: $color-surface-inverse;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      @include Sub4;

      @include Size("mobile") {
        @include Label1;
      }
    }

    .profileContainer {
      display: flex;
      align-items: center;
      gap: 8px;

      .author {
        @include Label1;
        color: $color-text-gray-normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .createdAt {
        @include Label1;
        color: $color-text-gray-normal;
        @include Drag;
      }

      .countContainer {
        display: flex;
        align-items: center;
        gap: 6px;
        @include Drag;

        .likeContainer {
          display: flex;
          align-items: center;
          gap: 2px;
          @include Cap2;
          color: $color-text-gray-normal;
        }
      }
    }
  }
}
