@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0;
  border-bottom: 1px solid $color-border-gray-subtle;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color-surface-gray-subtlest;
  }

  &:active {
    background-color: $color-border-gray-subtler;
  }

  &.read {
    opacity: 0.5;
  }

  &:last-child {
    border: none;
  }

  @include Size("tablet") {
    padding: 12px 0;
    gap: 6px;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 16px;

    @include Size("tablet") {
      gap: 12px;
    }

    .messageWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .message {
        color: $color-surface-inverse;
        @include Sub4;

        @include Size("tablet") {
          @include Label1;
        }
      }

      .date {
        @include Label1;
        color: $color-text-gray-subtle;

        @include Size("tablet") {
          @include Cap1;
        }
      }
    }

    .thumbnail {
      object-fit: cover;
      aspect-ratio: 1 / 1;
      background-color: rgba(0, 0, 0, 0.02);
    }

    .actorImage {
      border-radius: 50px;
      object-fit: cover;
    }
  }

  .iconWrapper {
    display: flex;
    gap: 4px;
  }
}
