@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  display: flex;
  flex-direction: column;

  .message {
    @include typo.body-1-r;
    color: colors.$text-gray-normal;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: spacing.$spacing-40 0;
  }
}

.rankingContainer {
  position: relative;
  width: 100%;
  container-type: inline-size;
  container-name: ranking;
}

.navButton {
  position: absolute;
  transform: translateY(-50%);
  z-index: 3;
  display: none;

  @include bp.breakpoint-up("lg") {
    display: block;
    top: calc((100cqw - 3 * #{spacing.$spacing-16}) / 8);
  }

  &[aria-hidden="true"] {
    visibility: hidden;
  }

  &.left {
    left: calc(-1 * spacing.$spacing-20);
  }

  &.right {
    right: calc(-1 * spacing.$spacing-20);
  }
}

.cardLink {
  display: block;
  width: 100%;
}
