@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/spacing" as spacing;

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacing.$spacing-24;
  background-color: colors.$bg-overlay-black;
}
