@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 30px;

  @include Size("mobile") {
    overflow-y: auto;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
      @include Title3;
      color: $color-text-gray-bold;
    }
  }

  .emptyContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .title {
      @include Title4;
      color: $color-text-gray-bold;
    }

    .subtitle {
      @include Sub4;
      color: $color-text-gray-normal;
      text-align: center;
      padding-bottom: 40px;
    }
  }

  .btns {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;

    .cancleBtn,
    .submitBtn {
      flex: 1;
    }
  }
}
