@use "@/styles/globals.scss" as *;

.container {
  min-width: 400px;
  height: 350px;
  position: absolute;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background-color: $color-surface-base;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  z-index: 15;
  top: 40px;
  right: 0;
  transform: translateY(10px);
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;

  .topSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        @include Title3;
        color: $color-text-gray-bold;
      }

      .closeButton {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;

    .option {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .label {
        @include Sub4;
        color: $color-surface-inverse;
      }

      .link {
        text-decoration: underline;
        @include Body1;
        color: $color-text-gray-bold;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  .bar {
    width: 100%;
    height: 1px;
    background-color: $color-border-gray-subtle;
    margin: 24px 0;
  }

  .footer {
    display: flex;
    gap: 12px;

    .subLink {
      @include Body1;
      color: $color-text-gray-normal;
    }
  }
}
