@use "@/styles/globals.scss" as *;
@use "sass:color";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20px;

  @include Size("mobile") {
    padding-top: 16px;
  }

  .center {
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      .profileLeft {
        display: flex;
        align-items: center;

        .authorImage {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid $color-border-gray-subtle;
          cursor: pointer;
          @include Drag;

          @include Size("mobile") {
            width: 32px;
            height: 32px;
          }
        }

        .authorInfo {
          margin-left: 16px;
          display: flex;
          align-items: center;
          gap: 8px;

          .authorName {
            @include Sub2;
            color: $color-surface-inverse;
            cursor: pointer;

            @include Size("mobile") {
              @include Sub4;
            }
          }
        }

        .createdAt {
          @include Label1;
          color: $color-text-gray-normal;
          @include Drag;
        }
      }

      .dropdownContainer {
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        position: relative;
        @include Drag;

        @include Size("mobile") {
          gap: 0;
        }

        .dropdown {
          width: 24px;
          height: 24px;
          margin: 8px;
          cursor: pointer;
        }
      }
    }
  }

  .imageGallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .imageWrapper {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .imageWrapper2 {
    width: 100%;
    margin-top: 30px;
  }

  .showMore {
    width: 200px;
    cursor: pointer;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include Drag;
  }

  .gradient {
    width: 100%;
    height: 95px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  .cardImage {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1600;
    cursor: pointer;
  }

  .overlayContent {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .btnContainer {
    display: flex;
    align-items: center;
    gap: 16px;

    .likeBtn {
      cursor: pointer;
    }

    .saveBtn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      cursor: pointer;
      @include Drag;
      border: 1px solid $color-border-gray-subtle;
      color: $color-text-gray-bold;
      background-color: $color-surface-base;
      width: 100%;
      padding: 16px 16px;
      border-radius: 12px;
      @include Btn1;

      &:hover {
        background-color: color.adjust($color-surface-base, $lightness: 4%);
      }

      &:active {
        background-color: color.adjust($color-surface-base, $lightness: 8%);
      }
    }

    .dropdown {
      cursor: pointer;
      position: relative;
    }

    .menuBtn {
      @extend .saveBtn;
    }
  }

  .contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .title {
      color: $color-surface-inverse;
      @include Title3;
      padding-bottom: 20px;

      @include Size("mobile") {
        @include Sub1;
      }
    }

    .content {
      @include Body1;
      color: $color-text-gray-bold;
      white-space: pre-line;
      word-break: break-word;
      overflow-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
    }

    .expanded {
      -webkit-line-clamp: unset;
      line-clamp: unset;
    }

    .readMore {
      background: none;
      border: none;
      color: $color-text-gray-normal;
      cursor: pointer;
      @include Btn2;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 0;
      @include Drag;
      margin-bottom: 15px;
    }

    .stats {
      display: flex;
      align-items: center;
      height: 20px;
      gap: 8px;
      line-height: 0;
      margin: 16px 0;
      @include Drag;
      color: $color-text-gray-normal;

      .statIcon {
        width: 16px;
        height: 16px;
        object-fit: cover;
      }

      .stat {
        height: 16px;
        display: flex;
        align-items: center;
        gap: 2px;
        @include Cap2;
        line-height: 12px;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      margin-bottom: 28px;
    }
  }

  .commentShowMore {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 6px;
    color: $color-text-gray-normal;
    @include Btn2;
    @include Drag;
    cursor: pointer;
    margin-bottom: 20px;
  }
}
