@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-width: 0;

  @include Size("mobile") {
    gap: 8px;
  }

  .imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include Drag;

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .likeBtn {
      position: absolute;
      bottom: 16px;
      right: 13px;
      z-index: 1;

      &:hover {
        animation: pulse 0.5s ease-in-out;
      }
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      overflow: hidden;
      color: $gray80;
      text-overflow: ellipsis;
      @include Sub4;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .profileContainer {
      display: flex;
      align-items: center;
      gap: 8px;

      .author {
        @include Label1;
        color: $gray60;

        @include Size("mobile") {
          @include Cap1;
        }
      }

      .countContainer {
        display: flex;
        gap: 6px;
        @include Drag;

        .likeContainer {
          display: flex;
          align-items: center;
          line-height: normal;
          gap: 2px;

          p {
            margin: 0;
            line-height: 1;
          }

          .count {
            @include Cap2;
            color: $gray60;
          }
        }
      }
    }
  }
}
