@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray0;
  padding-top: 40px;

  .backgroundImage {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .backgroundDefaultImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .backgroundDefaultImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .backgroundAddMessage {
    position: absolute;
    top: calc(50% + 32px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 8px;
    color: $gray0;
    cursor: pointer;
    z-index: 2;
    padding: 8px 12px;
    border-radius: 8px;
  }

  .coverBtns {
    position: absolute;
    right: 70px;
    bottom: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 16px;

    @include Size("mobile") {
      gap: 8px;
      right: 20px;
      bottom: 16px;
    }

    @include Size("tablet") {
      right: 24px;
      bottom: 24px;
    }

    .coverEditBtn {
      border: 1px solid $gray30;
      color: $gray70;
      background-color: $gray0;
      padding: 11px 20px;
      border-radius: 10px;
      @include Btn2;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;

      @include Size("mobile") {
        padding: 7px 14px;
        border-radius: 8px;
        @include Btn3;
        gap: 4px;
      }

      &:hover {
        background-color: darken($gray0, 4%);
      }

      &:active {
        background-color: darken($gray0, 8%);
      }
    }
  }

  .infoContainer {
    margin-top: calc(400px - 73px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include Size("mobile") {
      margin-top: calc(240px - 140px);
    }

    @include Size("tablet") {
      margin-top: calc(240px - 15px);
    }
  }

  .infoContainerDefault {
    @extend .infoContainer;
    margin-top: calc(264px - 73px);

    @include Size("mobile") {
      margin-top: calc(240px - 140px);
    }

    @include Size("tablet") {
      margin-top: calc(240px - 50px);
    }
  }

  .imageLeft {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 30px;

    @include Size("mobile") {
      flex-direction: column;
      gap: 12px;
    }
  }

  .spaceBetween {
    @include Size("mobile") {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .topContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;

    .name {
      @include Title2;
      color: $gray80;
      margin-bottom: 8px;

      @include Size("mobile") {
        @include Title4;
      }
    }
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .descriptionContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .description {
      @include Body1;
      color: $gray70;
      margin-top: 12px;
      white-space: pre-line;
    }
  }

  .follow {
    display: flex;
    align-items: center;
    gap: 12px;
    @include Drag;
  }

  .follower {
    display: flex;
    gap: 8px;
    @include Sub4;
    color: $gray60;
    @include Drag;

    @include Size("mobile") {
      @include Body1;
    }
  }

  .myfollower {
    display: flex;
    gap: 8px;
    @include Sub4;
    color: $gray60;
    cursor: pointer;

    @include Size("mobile") {
      @include Body1;
    }
  }

  .followerColor {
    @include Sub4;
    color: $gray70;

    @include Size("mobile") {
      @include Body1;
    }
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .linkWrapper {
      display: flex;
      gap: 4px;
      @include Drag;
    }

    .link {
      @include Label1;
      color: $gray60;
    }
  }
}

.followEdit {
  display: flex;
  align-items: center;
  gap: 12px;

  .editBtn {
    width: 125px;

    @include Size("mobile") {
      width: auto;
    }
  }

  .followBtn {
    width: 95px;

    @include Size("mobile") {
      width: auto;
    }
  }

  .menuBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    @include Drag;
    border: 1px solid $gray30;
    color: $gray70;
    background-color: $gray0;
    width: 100%;
    padding: 14px 14px;
    border-radius: 12px;
    @include Btn1;

    &:hover {
      background-color: darken($gray0, 4%);
    }

    &:active {
      background-color: darken($gray0, 8%);
    }

    @include Size("mobile") {
      padding: 10px;
      border-radius: 10px;
    }
  }

  .dropdown {
    cursor: pointer;
    position: relative;
  }
}

.profileImageContainer {
  width: 140px;
  height: 140px;
  position: relative;
  @include Drag;

  @include Size("mobile") {
    width: 80px;
    height: 80px;
  }

  .deleteImageBtn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    cursor: pointer;
  }

  &:hover .deleteImageBtn {
    display: block;
  }

  .profileImage {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $gray30;

    @include Size("mobile") {
      border: 4px solid $gray0;
    }
  }

  .addProfileImage {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
