@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray0;
  padding-top: 40px;

  .backgroundImage {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backgroundDefaultImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backgroundDefaultImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .backgroundAddMessage {
    position: absolute;
    top: calc(50% + 32px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 8px;
    color: $gray0;
    cursor: pointer;
    z-index: 2;
    padding: 8px 12px;
    border-radius: 8px;
  }

  .coverBtns {
    position: absolute;
    right: 70px;
    bottom: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 16px;

    .coverEditBtn {
      border: 1px solid $gray30;
      color: $gray70;
      background-color: $gray0;
      padding: 11px 20px;
      border-radius: 10px;
      @include Btn2;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;

      &:hover {
        background-color: darken($gray0, 4%);
      }

      &:active {
        background-color: darken($gray0, 8%);
      }
    }
  }

  .infoContainer {
    margin-top: calc(400px - 73px);
    width: 100%;
    display: flex;
    gap: 30px;
  }

  .infoContainerDefault {
    @extend .infoContainer;
    margin-top: calc(264px - 73px);
  }

  .topContainer {
    display: flex;
    align-items: center;
    gap: 16px;

    .name {
      @include Title2;
      color: $gray80;
      margin-bottom: 8px;
    }
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    min-width: 785px;

    .descriptionContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .description {
      @include Body1;
      color: $gray70;
      margin-top: 12px;
      white-space: pre-line;
    }
  }

  .followEdit {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .follow {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .follower {
    display: flex;
    gap: 8px;
    @include Sub4;
    color: $gray60;
    @include Drag;
  }

  .myfollower {
    display: flex;
    gap: 8px;
    @include Sub4;
    color: $gray60;
    cursor: pointer;
  }

  .followerColor {
    color: $gray70;
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .linkWrapper {
      display: flex;
      gap: 4px;
    }

    .link {
      @include Label1;
      color: $gray60;
    }
  }
}

.followEdit {
  margin-top: 24px;
  width: 125px;
}

.profileImageContainer {
  width: 140px;
  height: 140px;
  position: relative;
  @include Drag;

  .profileImage {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $gray30;
  }

  .addProfileImage {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
}
.hidden {
  display: none;
}
