@use "@/styles/globals.scss" as *;
@use "sass:color";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-surface-base;
}

.infoContainer {
  width: 100%;
  z-index: 3;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;

  margin-top: 40px;

  @include Size("mobile") {
    padding-left: 16px;
    padding-right: 16px;
    bottom: 40px;
    margin-top: 0;
  }

  @include Size("tablet") {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.infoWrapper {
  max-width: $max-width-container;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.imageLeft {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 30px;

  @include Size("mobile") {
    flex-direction: column;
    gap: 12px;
  }
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.followEdit {
  display: flex;
  height: fit-content;
  gap: 12px;

  @include Size("mobile") {
    gap: 8px;
  }
}

.blacklist {
  max-width: 604px;
  width: 100%;
}
