@use "@/styles/globals.scss" as *;

.navContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid $color-border-gray-subtle;
  background-color: $color-surface-base;
  position: relative;

  @include Size("mobile") {
    gap: 16px;
    padding: 0 16px;
  }

  .underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    background-color: $color-text-gray-bold;
    transition: all 0.3s ease;
  }

  .button {
    padding: 0 12px 8px;
    background: none;
    border: none;
    color: $color-text-gray-normal;
    @include Sub2;
    transition: all 0.3s;
    cursor: pointer;

    @include Size("mobile") {
      @include Sub4;
      padding: 0 0 8px;
    }

    &:hover {
      color: $color-text-gray-bold;
    }

    &.selected {
      color: $color-text-gray-bold;
    }
  }

  .bar {
    width: 1px;
    height: 20px;
    background-color: $color-border-gray-subtle;
    padding: 0;
    margin-bottom: 8px;
  }
}
