@use "@/styles/globals" as *;

.inputContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 42px;
  padding: 16px;
  background-color: $color-surface-base;
  border: 1px solid $color-border-gray-subtle;
  border-radius: 8px;
  box-sizing: border-box;

  &:focus-within {
    background-color: $color-surface-base;
  }

  @include Size("mobile") {
    padding: 0 8px;
  }
}

.imageListContainer {
  margin-bottom: 10px;

  @include Size("mobile") {
    margin-bottom: 14px;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 1;
  height: 100%;
}

.input {
  width: 100%;
  @include Label2;
  color: $color-text-gray-bold;
  outline: none;
  border: none;
  background-color: inherit;
  resize: none;
  overflow-y: auto;
  min-height: 20px;
  max-height: 120px;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::placeholder {
    color: $color-text-gray-subtle;
  }
}

.imageWrapper {
  position: relative;
  width: 90px;
  height: 90px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.removeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  cursor: pointer;
  color: $color-surface-base;
  padding: 4px;
  border: none;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}