@use "@/styles/globals.scss" as *;

.dropdown {
  position: relative;
  width: 140px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  overflow: visible;

  @include Size("mobile") {
    width: 100px;
  }
}

.selected {
  min-width: 140px;
  height: 52px;
  padding: 16px 20px;
  border: 1px solid $color-border-gray-subtle;
  border-radius: 12px;
  background-color: $color-surface-base;
  color: $color-text-gray-bold;
  @include Label2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  transition: border 0.2s;

  @include Size("mobile") {
    min-width: 100px;
    padding: 16px 5px 16px 16px;
    gap: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.selected:hover {
  border: 1px solid $color-text-gray-bold;
}

.options {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  overflow-y: auto;
  border-radius: 12px;
  background-color: $color-surface-base;
  padding: 6px 0;
  margin-bottom: 4px;
  z-index: 10;
  border: 1px solid $color-surface-gray-subtlest;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.options li {
  padding: 10px 16px;
  color: $color-text-gray-bold;
  cursor: pointer;
  @include Label2;
  transition: background 0.2s;
}

.options li:hover {
  background-color: $color-surface-gray-subtler;
}

.options li.active {
  color: $color-status-positive;
}
