@use "@/styles/globals.scss" as *;
@use "sass:color";

.btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .likeBtn {
    cursor: pointer;
  }

  .saveBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    @include Drag;
    border: 1px solid $gray30;
    color: $gray70;
    background-color: $gray0;
    padding: 16px 16px;
    border-radius: 12px;
    @include Btn1;

    &:hover {
      background-color: color.adjust($gray0, $lightness: 4%);
    }

    &:active {
      background-color: color.adjust($gray0, $lightness: 8%);
    }
  }

  .dropdown {
    cursor: pointer;
    position: relative;
  }

  .menuBtn {
    @extend .saveBtn;
  }
}
