@import "@/styles/globals.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  @include Drag;

  @include Size("mobile") {
    margin-bottom: 16px;
  }

  @include Size("tablet") {
    margin-bottom: 16px;
  }

  .title {
    @include Title4;
    color: $gray80;

    @include Size("mobile") {
      @include Sub2;
    }

    @include Size("tablet") {
      @include Sub1;
    }
  }

  .btn {
    @include Sub2;
    color: $gray60;
    cursor: pointer;

    @include Size("mobile") {
      @include Sub4;
    }

    @include Size("tablet") {
      @include Sub4;
    }
  }
}
