@use "@/styles/globals.scss" as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  @include Drag;

  @include Size("mobile") {
    margin-bottom: 16px;
  }

  @include Size("tablet") {
    margin-bottom: 16px;
  }

  .title {
    @include Title3;
    color: $color-surface-inverse;

    @include Size("mobile") {
      @include Sub1;
    }

    @include Size("tablet") {
      @include Title3;
    }
  }

  .btn {
    @include Sub2;
    color: $color-text-gray-normal;
    cursor: pointer;

    @include Size("mobile") {
      @include Sub4;
    }

    @include Size("tablet") {
      @include Sub4;
    }
  }
}
