@use "@/styles/tokens/colors/semantic" as colors;
@use "@/styles/tokens/typography/semantic" as typo;
@use "@/styles/tokens/spacing" as spacing;
@use "@/styles/breakpoint" as bp;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.gap-lg {
    margin-bottom: spacing.$spacing-24;
  }

  &.gap-sm {
    margin-bottom: spacing.$spacing-12;
  }

  @include bp.breakpoint-down("xs") {
    &.gap-lg {
      margin-bottom: spacing.$spacing-16;
    }

    &.gap-sm {
      margin-bottom: 0;
    }
  }

  .title {
    color: colors.$text-gray-bold;
    @include typo.title-2;

    @include bp.breakpoint-down("xs") {
      @include typo.title-3;
    }
  }
}
