@use "@/styles/globals.scss" as *;

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  position: relative;

  @include Size("mobile") {
    margin-top: 40px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include Drag;

  @include Size("mobile") {
    gap: 4px;
  }

  button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    @include Label2;
    color: $gray70;

    &:hover {
      background-color: $gray10;
    }
  }

  .paginationArrow {
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $gray10;
    }

    &:disabled {
      display: none;
    }
  }

  .active {
    background-color: $gray20;
  }
}

.uploadBtn {
  position: absolute;
  right: 0;
}
